<%- include("./bottom-notification"); -%>
<div class="header">
  <div class="nav-container">
    <div class="nav-logo">
     <a href="/"> <img width="150px" src="/icons/logo.svg" alt="" /></a>
    </div>
    <div id="bottom-nav-menu" class="bottom-nav-menu">
      <ul class="bottom-nav-list">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <span class="nav-icon">
              <%- include("./icons/dashboard-svg.ejs"); -%>
            </span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="/users" class="nav-link">
            <span class="nav-icon">
              <%- include("./icons/users-svg.ejs"); -%>
            </span
            >Users
          </a>
        </li>
        <li class="nav-item">
          <a href="/reports" class="nav-link">
            <span class="nav-icon">
              <%- include("./icons/reports-svg.ejs"); -%>
            </span
            >Reports
          </a>
        </li>
        <li class="nav-item">
          <a href="/options" class="nav-link">
            <span class="nav-icon">
              <%- include("./icons/options-svg.ejs"); -%>
            </span>
            Options
          </a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">
            <span class="nav-icon">
              <%- include("./icons/profile-svg.ejs"); -%>
            </span>
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a href="logout" class="nav-link">
            <span class="nav-icon">
              <%- include("./icons/logout-svg.ejs"); -%>
            </span>
            Logout
          </a>
        </li>
      </ul>
      <span id="nav-close" class="nav-close"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="m9.17 14.83 5.66-5.66M14.83 14.83 9.17 9.17M9 22h6c5 0 7-2 7-7V9c0-5-2-7-7-7H9C4 2 2 4 2 9v6c0 5 2 7 7 7Z"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path></svg
      ></span>
    </div>
    <div class="nav-right">
      <div id="nav-image" class="nav-image">
        <img
          id="bottom-notification-btn"
          src="https://gravatar.com/avatar/b8e1fd79796a3a262ad0bb94517658d9?s=200&d=robohash&r=x"
          alt=""
        />
      </div>
      <div id="nav-toggle" class="nav-toggle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M3 7h18M3 12h18M3 17h18"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
<script></script>
