<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="<%=baseUrl%>/icons/x-icon.jpg" type="image/x-icon"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> </title>
    <link rel="stylesheet" href="<%=baseUrl%>/style.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/profile.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/table.css"/>
    <link rel="stylesheet" href="<%=baseUrl%>/modal.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/css/vendors/toastify.css" />
    
    <link rel="stylesheet" href="<%=baseUrl%>/responsive.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/dist/mc-calendar.min.css"/>
    <script src="<%=baseUrl%>/dist/mc-calendar.min.js"></script>
  </head>
  <body>
    <%- include("./nav.ejs"); -%>
    <main>