<style>
  .sub-options {
    width: 140px;
    /* margin-left: auto; */
    margin: auto;
    transition: opacity 2s linear;  
    transform:translate(0);
    opacity: 1;
  }
  .hidden{
    transform:translate(9999px);
    opacity: 0;
  }
  .sub-options a {
    text-decoration: none;
  }
  .sub-options .nav-li {
    margin: auto;
    width: 100%;
    background-color: var(--fade-bluish-gray);
    color: var(--deep-gray);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    margin: 8px;
    transition: ease-in-out 1.2;
  }
  .sub-options .nav-li:hover {
    background-color: var(--deep);
    cursor: pointer;
    color: #fff;
  }
</style>

<div class="sidebar">
  <div class="logo-content">
    <div class="logo">
      <a href="/"> <img width="150px" src="/icons/logo.svg" alt="" /></a>
    </div>
  </div>
  <ul class="nav-list">
    <%if(profile.user_role==='admin'){ %>
      <li>
        <a href="/dashboard">
          <%- include("./icons/dashboard-svg.ejs"); -%>
          <span class="link-name"> Dashboard </span>
        </a>
      </li>
      <% } %>
    <li>
      <a href="/home">
        <%- include("./icons/home-svg.ejs"); -%>
        <span class="link-name"> Home </span>
      </a>
    </li>
    <%if(profile.user_role==='admin'){ %>
    <li>
      <a href="/users">
        <%- include("./icons/users-svg.ejs"); -%>
        <span class="link-name"> Users </span>
      </a>
    </li>
    <% } %>
    <li>
      <a href="/reports">
        <%- include("./icons/reports-svg.ejs"); -%>
        <span class="link-name"> Reports </span>
      </a>
    </li>
    <li id="options-btn">
      <a href="#">
        <%- include("./icons/options-svg.ejs"); -%>
        <span class="link-name"> Options </span>
      </a>
    </li>
    <div class="sub-options hidden">
      <%if(loggedInUser.userRole==='admin'){ %>
      <a href="/options/option-values">
        <div class="nav-li">Option</div>
      </a>
      <% } %>
      <a href="/options/projects">
        <div class="nav-li">Projects</div>
      </a>
      <a href="/options/holiday">
        <div class="nav-li">Holiday</div>
      </a>
      <a href="/options/leavedays">
        <div class="nav-li">LeaveDays</div>
      </a>
    </div>
  </ul>
  <%- include("./more-option"); -%>
  <div class="sidebar-footer">
    <% if(profile.avatar !== null && profile.avatar.match(/^(http|https):/g)){
    %>
    <img src="<%= profile.avatar%>" />
    <%} else{%>
    <img
      src="/uploads/avatars/<%=profile.avatar != null ?  profile.avatar :profile.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
    />
    <% } %>

    <div class="username"><%= profile.user_name.split(' ')[0] %></div>
    <div id="more-btn" class="more">
      <svg
        width="13"
        height="11"
        viewBox="0 0 13 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.23205 10C7.46225 11.3333 5.53775 11.3333 4.76795 10L0.870833 3.25C0.101033 1.91666 1.06328 0.250001 2.60289 0.250001L10.3971 0.250002C11.9367 0.250002 12.899 1.91667 12.1292 3.25L8.23205 10Z"
          fill="#C4C4C4"
        />
      </svg>
    </div>
  </div>
</div>
<script>
  const optionsBtn = document.getElementById("options-btn");
  const navList = document.querySelector(".nav-list");
  const navListLi = navList.querySelectorAll("li");
  const subOptions = document.querySelector(".sub-options");
  const navLi = document.querySelectorAll(".nav-li");
  optionsBtn.addEventListener("mouseover", (e) => {
    subOptions.classList.remove('hidden')
  });
  subOptions.addEventListener("mouseleave", () => {
    subOptions.classList.add('hidden')
  });
  navList.querySelectorAll("li");
  for (var i = 0; i < navListLi.length; i++) {
    const element = navListLi[i];
    if (element != optionsBtn) {
      element.addEventListener("mouseover", () => {
      subOptions.classList.add('hidden')
      });
    }
  }
</script>
