<div class="sidebar">
  <div class="logo-content">
    <div class="logo">
      <a href="/"> <img src="/icons/logo.svg" alt="" /></a>
    </div>
  </div>
  <ul class="nav-list">
    <li class="">
      <a href="/dashboard">
        <%- include("./icons/dashboard-svg.ejs"); -%>
        <span class="link-name"> Dashboard </span>
      </a>
    </li>
    <%if(profile.user_role==='admin'){ %>
    <li>
      <a href="/users">
        <%- include("./icons/users-svg.ejs"); -%>
        <span class="link-name"> Users </span>
      </a>
    </li>
    <% } %>
    <li>
      <a href="/reports">
        <%- include("./icons/reports-svg.ejs"); -%>
        <span class="link-name"> Reports </span>
      </a>
    </li>
    <li>
      <a href="/options">
        <%- include("./icons/options-svg.ejs"); -%>
        <span class="link-name"> Options </span>
      </a>
    </li>
  </ul>
  <%- include("./more-option"); -%> <%- include("./notification"); -%>
  <div class="sidebar-footer">
    <% if(profile.avatar !== null && profile.avatar.match(/^(http|https):/g)){
    %>
    <img
      id="notification-btn"
      class="notification-btn"
      src="<%= profile.avatar%>"
    />
    <%} else{%>
    <img
      id="notification-btn"
      class="notification-btn"
      src="/uploads/avatars/<%=profile.avatar != null ?  profile.avatar : 'demo-avatar.png' %>"
    />
    <% } %>

    <div class="username"><%= profile.user_name %></div>
    <div id="more-btn" class="more">
      <svg
        width="13"
        height="11"
        viewBox="0 0 13 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.23205 10C7.46225 11.3333 5.53775 11.3333 4.76795 10L0.870833 3.25C0.101033 1.91666 1.06328 0.250001 2.60289 0.250001L10.3971 0.250002C11.9367 0.250002 12.899 1.91667 12.1292 3.25L8.23205 10Z"
          fill="#C4C4C4"
        />
      </svg>
    </div>
  </div>
</div>
