<%- include("../partials/header"); -%>
<style>
  .dash-card-box{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
  }
  .dash-card-box .card{
    background-color: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .numbers{
    position: relative;
    font-weight: 500;
    font-size: 32px;
    color: var(--deep);
}
.card-name{
  position: relative;
  color: var(--deep2);
  font-size: 18px;
  margin-top: 5px;

}
.icon-box svg{
  stroke: var(--deep2);
  width: 40px;
}
.card:hover{
  background-color: var(--deep);
}
.card:hover .numbers,
.card:hover .card-name,
.card:hover .icon-box svg{
  color: var(--white);
  stroke: var(--white);
}
.grapBox{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}
.grapBox .gBox{
  width: 100%;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}

.details{
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 10px;
}
.working-user{
  height: 500px ;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
  overflow: auto;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}
.card-header h2{
  font-weight: 600;
  color: var(--deep);
}
.add-data-btn{
  padding: 5px 10px;
  background-color: var(--deep2);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
 .working-user table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.working-user table thead td{
  font-weight: 600;
}
.working-user  tbody tr{
  color: black;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.working-user  tbody tr:last-child{
  border-bottom:none;
}
.working-user table td{
  padding: 10px;
}
.working-user table tbody td{
  font-size: 14px;
}
.working-user  tbody tr input{
  width: 80px;
}
.request-leave{
  min-height: 500px;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;

}
.request-view{
  text-decoration: none;
  color: var(--white);
  padding: 8px 14px;
  font-size: 14px;
  background-color: var(--deep);
  border-radius: 8px;
}
.request-view:hover{
  opacity: 0.8;
}
.img-box{
  width:40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.img-box img{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.username{
  cursor: pointer;
  font-weight: 600;
  
}
.username:hover{
  color: var(--deep2);
}
.request-leave table tr td h4{
  font-size: 16px ;
  font-weight: 500;
  line-height: 18px;
}
.request-leave table tr td h4 span{
  font-size: 14px;
  color: var(--deep2);
}
@media (max-width:991px){
  .dash-card-box{
    grid-template-columns: repeat(2,1fr) ;
  }
  .grapbox{
    grid-template-columns: 1fr ;
  }
}
@media (max-width:768px){
  .dash-card-box{
    grid-template-columns: repeat(2,1fr) ;
  }
  .details{
    grid-template-columns: repeat(1,1fr) ;
  }
  .working-user{
    overflow: auto;
  }
}
@media (max-width:480px){
  .dash-card-box{
    grid-template-columns: repeat(1,1fr) ;
  }

}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  margin-top: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 15px;
  background-color: #103047;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

</style>

<div class="dashboard">
  <div class="dash-card-box">
    <div class="card">
      <div>
        <div class="numbers"><%=totalUsers%></div>
        <div class="card-name">Users</div>
      </div>
        <div class="icon-box">
            <%- include("../partials/icons/users-icon.ejs"); -%>
       </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"><%=totalActive%></div>
        <div class="card-name">Active Users</div>
      </div>
      <div class="icon-box">
          <%- include("../partials/icons/active-user-icon.ejs"); -%>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"><%=totalLeaveToDay%> </div>
        <div class="card-name">Leave Users</div>
      </div>
      <div class="icon-box">
          <%- include("../partials/icons/leave-user-icon.ejs"); -%>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">$5000</div>
        <div class="card-name">Payroll</div>
      </div>
      <div class="icon-box">
          <%- include("../partials/icons/users-icon.ejs"); -%>
      </div>
    </div>
  </div>
  <div class="grapBox">
    <div class="gBox">
      <canvas id="myPie" width="200" height="200"></canvas>
    </div>
    <div class="gBox">
      <canvas id="myDoughnut" width="200" height="200"></canvas>
    </div>
    <div class="gBox">
      <canvas id="myBar"></canvas>
    </div>
  </div>
  <div class="details">
    <div class="working-user">
      <div class="card-header">
        <h2>
          Working Employees
        </h2>
        <div class="add-button" >
          <button class="add-btn">
            <span class="add-icon">
              <%- include("../partials/icons/add-svg"); -%>
            </span>
            <span .add-btn-text>Add</span>
          </button>
        </div>
          <!-- Markup for  dat file upload -->
  <form class="dat-file" action="<%= baseUrl %>/attendance-entry-or-exit" method="post">
  
    <div class="file-input">
          <input
            type="file"
            name="file-input"
            id="file-input"
            class="file-input__input dat-file-input"
            accept=".dat"  
          />
          <label class="file-input__label" for="file-input">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="upload"
              class="svg-inline--fa fa-upload fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
              ></path>
            </svg>
            <span class="file-status">Upload file</span></label>
        </div>
        
    </form>
      </div>
   
      <table id="working-employees">
        <thead>
          <tr>
            <td></td>
          <td>Name</td>
          <td>Details</td>
          <td>Date</td>
          <td>Start</td>
          <td>End</td>
          <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% isEndTimeNull.map(user=>{ %>

            <tr>
              <td>
                <div class="img-box">
                <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
                  %>
                  <img src="<%= user.avatar%>" />
                  <%} else{%>
                  <img
                    src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : user.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
                  />
                  <% } %>
               </div>
              </td>
            <td>
            <div class="username userBtn" data-userID="<%=user.userId%>"><%=user.name%></div>
            <span id="role"><%= user.userRole==='admin'? 'admin' : ''%> </span>
          </td>
          <td > <%= user.work_details %></td>
          <td ><input class="get-date"  name="date"  type="text" disabled  value="<%= user.curDate %>"></td>
          <td class="time-picker"><input type="text" class="update-start-time-val timepicker-ui-input" name="startDate" value="<%= user.minStartTime %>"></td>

          <td class="user-end-time time-picker">  <input type="text" name="endTime" class="update-end-time-val timepicker-ui-input" value="<%= user.endTime %>"></td>
          
          
          
          <td  class="btn-group"> 

            <input type="hidden" name="userId" class="userId" value="<%= user.userId %>" />
            <button class="update-btn">Update</button>
            <button class="update-start-time ">Start</button>
            <button class="update-end-time ">End</button>
            <button class="save-btn">Save</button>
            <button class="save-btn-for-end-time">Save</button>
            <button type="text" class="opt-cancel-btn">Cancel</button>

          </td>
            </tr> 
            <% })  %> 
    <% todayEmployeesRecord.map(user=>{ %>

      <tr>
        <td><div class="img-box">
          <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
            %>
            <img src="<%= user.avatar%>" />
            <%} else{%>
            <img
              src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : user.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
            />
            <% } %>
        </div></td>
        <td>
      <div class="username userBtn" data-userID="<%=user.userId%>"><%=user.name%></div>
      <span id="role"><%= user.userRole==='admin'? 'admin' : ''%> </span>
      </td>
      <td > <%= user.work_details %></td>
      <td><input class="get-date" name="date" type="text" value=" <%= user.curDate %>"></td>
      <td class="time-picker"><input type="text" class="update-start-time-val timepicker-ui-input" name="startDate" value="<%= user.minStartTime %>"></td>
      <td class="user-end-time time-picker">  <input type="text" name="endTime" class="update-end-time-val timepicker-ui-input" value="<%= user.endTime %>"></td>
      <input type="hidden" name="userId" class="userId" value="<%= user.userId %>" />
      </td>
      </tr> 
      <% })  %> 


      
   
                
              </tbody>
            </table>
          </div>
          <div class="request-leave">
            <div class="card-header">
              <h2>Request Leave</h2>
              <a class="request-view" href="/options/request-leave">View</a>
            </div>
            <table>
            <%requestLeaveList.map(user=>{%>
              <tr>
                <td width="60px">
                  <div class="img-box">
                    <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
                        %>
                        <img src="<%= user.avatar%>" />
                        <%} else{%>
                        <img
                          src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : user.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
                        />
                        <% } %>
                  </div>
                </td>
                <td>
                  <h4>
                    <%=user.user_name%>
                    <br>
                    <span>
                      <%=user.typeName%>
                    </span>
                  </h4>
                </td>
              </tr>
            <% }) %>

      </table>
    </div>
  </div>


</div>

<%- include("../partials/manual-attendance.ejs"); -%>
<%- include("../partials/user-details-modal.ejs"); -%>


<script src="<%=baseUrl%>/js/manualAttendance.js"></script>

<script src="<%=baseUrl%>/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="<%=baseUrl%>/js/chart.js"></script>
<%- include("../partials/footer"); -%>