<%- include("../partials/header"); -%>

<div class="start">
  <div class="search-bar">
    <input class="search" placeholder="What are you working on?" type="text" />
  </div>
  <div class="add-project">
    <a href="#open-modal">
      <span class="add-icon"
        ><ion-icon name="add-circle-outline"></ion-icon
      ></span>
      Project</a
    >
  </div>
  <div class="time" id="elapsedTime">00:00:00</div>
  <button class="btn-start" id="start-btn">start</button>

  <button style="display: none" class="btn-end" id="end-btn">End</button>
</div>

<!-- ProJect Modal Start -->
<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <h1>Create Project</h1>
    <div><input placeholder="Project Name" type="text" /></div>
    <div>
      <small
        ><a href=""><button>Submit</button></a></small
      >
    </div>
  </div>
</div>
<!-- ProJect Modal End -->

<div class="history">
  <div class="date-bar">
    <div class="date">Today</div>
    <div id="total-work-time"><%= todayTotal || "00:00:00" %></div>
  </div>
  <div id="today-details">
    <%today.map(t=>{%>
    <div class="details">
      <div class="title">hello</div>
      <div class="project-name">hello world</div>
      <div class="start-time"><%= t.start %></div>
      <end class="time"><%= t.end %> </end>
      <div class="total-work-time"><%= t.total %></div>
    </div>
    <% })%>
  </div>
</div>
<div class="history">
  <div class="date-bar">
    <div class="date">This Week</div>
    <div id="total-week-work-time"><%= weekTotal || "00:00:00" %></div>
  </div>
  <div id="week-details">
    <%weekHistory.map(h=>{%>
    <div class="details">
      <div class="title"><%= h.date %></div>
      <div class="project-name">hello world</div>
      <div class="start-time"><%=h.start %></div>
      <end class="end-time"><%=h.end %></end>
      <div class="work-time"><%=h.total %></div>
    </div>
    <% })%>
  </div>
  </div>
  <script src="/js/timeTracking.js"></script>

  <%- include("../partials/footer.ejs"); -%>
</div>
