<%- include("../partials/header"); -%>

<div id="dashboard">
  <div class="dashboard-head">
    <div class="oclock-box">
      <div class="time-box">
        <div class="current-time">
          12:00
          <span class="time-meridiem">AM</span>
        </div>
        <div class="current-date">Mon 22 Oct</div>
      </div>
      <div class="start-details">
        <table>
          <tr>
            <td>Started at:</td>
            <td id="todayStart"><%=start || '00 : 00'%></td>
          </tr>
          <tr>
            <td>Ended at:</td>
            <td id="todayEnd"><%=end || '00 : 00'%></td>
          </tr>
          <tr>
            <td>TotalWork Time:</td>
            <td id="todayTotal"><%= todayTotal %></td>
          </tr>
          <tr>
            <td>Break:</td>
            <td id="breakTime"><%=breakTime %></td>
          </tr>
        </table>
      </div>
      <div class="counter" id="elapsedTime">00:00:00</div>
      <div class="button">
        <div id="end-btn" style="display: none">
          <%- include("../partials/icons/stop-svg"); -%>
        </div>
        <%- include("../partials/start-modal"); -%>
        <div id="start-btn" class="add-button play">
          <%- include("../partials/icons/play-svg"); -%>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-info">
    <% console.log(Object.keys(today).length === 0) %> <%
    if(Object.keys(today).length === 0){ %>

    <h4>No data</h4>
    <% } else{ %>

    <table class="dashboard-reports">
      <thead>
        <tr>
          <td class="project-name">Project Name</td>
          <td class="project-work">Work details</td>
          <td>Start</td>
          <td>End</td>
          <td>Total</td>
        </tr>
      </thead>

      <tbody id="todayReport" class="dashboard-reports-tbody">
        <% today.map(today=>{ %>
        <tr>
          <td class="project-name"><%= today.project_name%></td>
          <td class="project-work"><%= today.work_details%></td>
          <td><%= today.start%></td>
          <td><%= today.end%></td>
          <td><%= today.total%></td>
          <td class="user-more">
            <%- include("../partials/icons/more-svg"); -%>
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>

    <%} %>
  </div>
</div>

<%- include("../partials/footer.ejs"); -%>
