<%- include("../partials/header"); -%>

<style>
  .title-for-cnt-ely{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 10px 0px;
  }
  .cnt-working-emy-list{
    position: relative;
  }
  .modal-cont{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
  }
  .dashboard-update-btn {
    background-color: #103047;
    border-radius: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 70px;
    text-align: center;
  }
</style>


<div id="dashboard">
  <div class="dashboard-head">
    <div class="oclock-box">
      <div class="time-box">
        <div class="current-time">
          <h4 class="time">12:00</h4>
          <span class="time-meridiem"></span>
        </div>
        <div class="current-date">Mon 22 Oct</div>
      </div>
      <div class="start-details">
        <table>
          <tr>
            <td>Started at:</td>
            <td id="todayStart"><%=start || '00 : 00'%></td>
          </tr>
          <tr>
            <td>Ended at:</td>
            <td id="todayEnd"><%=end || '00 : 00'%></td>
          </tr>
          <tr>
            <td>TotalWork Time:</td>
            <td id="todayTotal"><%= todayTotal %></td>
          </tr>
          <tr>
            <td>Break:</td>
            <td id="breakTime"><%=breakTime %></td>
          </tr>
        </table>
      </div>
      <div class="counter" id="elapsedTime">00:00:00</div>
      <div class="button">
        <div id="end-btn" style="display: none">
          <%- include("../partials/icons/stop-svg"); -%>
        </div>
        <%- include("../partials/start-modal"); -%>
        <div id="start-btn" class="add-button play">
          <%- include("../partials/icons/play-svg"); -%>
        </div>
      </div>
    </div>
  </div>

  <% console.log('dashboard',checkTodayReportEmptyOrNot.length) %> <%
  if(checkTodayReportEmptyOrNot.length !== 0){ %>
  <div class="dashboard-info">
    <table class="dashboard-reports">
      <thead>
        <tr>
          <td class="project-name">Project Name</td>
          <td class="project-work">Work details</td>
          <td>Start</td>
          <td>End</td>
          <td>Total</td>
        </tr>
      </thead>

      <tbody id="todayReport" class="dashboard-reports-tbody">
        <% today.map(today=>{ %>
        <tr>
          <td class="project-name"><%= today.project_name%></td>
          <td class="project-work"><%= today.work_details%></td>
          <td><%= today.start%></td>
          <td><%= today.end%></td>
          <td><%= today.total%></td>
          <td class="user-more">
            <%- include("../partials/icons/more-svg"); -%>
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>

    <% } else{ %>

    <h5>Today's report is empty now !</h5>
    <% } %>
  </div>

  <!-- Markup for current working user details -->

  <%if(loggedInUser.userRole==='admin'){ %>

  <div class="dashboard-info cnt-working-emy-list">

    <h4 class="title-for-cnt-ely">Employees Working now ! </h4>
    <table class="table">
      <thead>
        <tr>
          <td class="table-img td-width-zero"></td>
          <td>Name</td>
          <td class="user-phone">Date</td>
          <td class="user-email">Start Time</td>
          <td class="user-status">End Time</td>
        </tr>
      </thead>
      <tbody>
        <% isEndTimeNull.map(user=>{%>
        <tr>
          <td class="table-img td-width-zero">
            <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
          %>
          <img src="<%= user.avatar%>" />
          <%} else{%>
          <img
            src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : 'demo-avatar.png' %>"
          />
          <% } %>
          </td>
          <td>
            <div class="username"><%=user.name%></div>
            <span id="role"><%= user.userRole==='admin'? 'admin' : ''%> </span>
          </td>
          <td class="user-date"> <%= user.curDate %></td>
          <td class="user-phone"><%= user.startTime %></td>
          <td class="user-end-time">  <%= user.endTime || 'Empty' %> </td>
       
          </td>


          <td>
            <button class="dashboard-update-btn ">Update</button>


                  <!-- Modal for update end time -->
                <div  class="modal-cont">
                <div class="modal">
                  <div class="modal-head">
                    <div class="modal-title">Update End Time</div>
                    <div class="modal-close-btn modal-close">
                      <%- include("../partials/icons/close-svg"); -%>
                    </div>
                  </div>
                  <div class="modal-content">
                    <div class="container">
                      <form action="/update-end-time" method="post">
                        <label for="projectDetails">
                          Start Date
                          <div class="">
                            <input type="text" name="endDate" value="<%= user.curDate %>" />
                          </div>
                        </label>

                        <label for="name"
                          >End time
                          <div class="">
                            <input id="time" name="endTime" type="time"  />
                          </div>
                        </label>

                        <input type="hidden" name="uId" value="<%= user.userId %>" />
                        <div class="">
                          <button class="submit-btn" type="submit">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End modal -->

            </td>
            
        </tr>

        <%}) %>

     

      </tbody>
    </table>
  </div>
  <%} %>

</div>



<script>

  
    const getCurrentDate = () => {
      const date = new Date();
      let options = {
        weekday: "short",
        day: "numeric",
        month: "short",
      };
      return date.toLocaleDateString("en-us", options);
    };
    const clock = () => {
      const date = new Date();
      let options = {
        hour: "2-digit",
        minute: "2-digit",
      };
      return date.toLocaleTimeString("en-us", options);
    };
    const currentDate = document.querySelector(".current-date");
    const showCurrentTime = document.querySelector(".current-time");
    const time = document.querySelector(".time");
    const timeMeridiem = document.querySelector(".time-meridiem");

   // showCurrentTime.getElementsByTagName("span")[0].textContent = "dd";
    currentDate.innerText = getCurrentDate();
    // showCurrentTime.innerText = clock().slice(0, 5);
    time.innerText = clock().slice(0, 5);
    timeMeridiem.textContent = clock().slice(6, 8);
    console.log(clock().slice(6, 8));
    console.log(timeMeridiem.textContent);


    // update end time 
    document.addEventListener('DOMContentLoaded', function () {

    console.log('update end time');
    let updateEndTimeModal = document.getElementsByClassName("modal-cont");
    let updateBtn = document.getElementsByClassName("dashboard-update-btn");
    console.log(updateBtn);

     for(let i = 0; i < updateBtn.length; i++) {
      updateBtn[i].addEventListener("click", () => {
        updateEndTimeModal[i].style.display = "block";
      });
    }
    
    let closeBtn = document.getElementsByClassName("modal-close-btn");

    for(let j = 0; j < closeBtn.length; j++) {
      closeBtn[j].addEventListener('click', () => {
        console.log("close");
        
        
        updateEndTimeModal[j].style.display = "none";
      });
    }
  })


  </script>

 
  <script src="<%=baseUrl%>/startData.js"></script>

 <%- include("../partials/footer.ejs"); -%>
