<%- include("../partials/header"); -%>
<style>
  .dash-card-box{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
  }
  .dash-card-box .card{
    background-color: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .numbers{
    position: relative;
    font-weight: 500;
    font-size: 32px;
    color: var(--deep);
}
.card-name{
  position: relative;
  color: var(--deep2);
  font-size: 18px;
  margin-top: 5px;

}
.icon-box svg{
  stroke: var(--deep2);
  width: 40px;
}
.card:hover{
  background-color: var(--deep);
}
.card:hover .numbers,
.card:hover .card-name,
.card:hover .icon-box svg{
  color: var(--white);
  stroke: var(--white);
}
.grapBox{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}
.grapBox .gBox{
  width: 100%;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}

.details{
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 10px;
}
.working-user{
  height: 500px ;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
  overflow: auto;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}
.card-header h2{
  font-weight: 600;
  color: var(--deep);
}
.add-data-btn{
  padding: 5px 10px;
  background-color: var(--deep2);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
 .working-user table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.working-user table thead td{
  font-weight: 600;
}
.working-user  tbody tr{
  color: black;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.working-user  tbody tr:last-child{
  border-bottom:none;
}
.working-user table td{
  padding: 10px;
}
.working-user table tbody td{
  font-size: 14px;
}
.working-user  tbody tr input{
  width: 80px;
}
.request-leave{
  min-height: 500px;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;

}
.request-view{
  text-decoration: none;
  color: var(--white);
  padding: 5px 8px;
  font-size: 14px;
  background-color: var(--deep);
  border-radius: 5px;
}
.request-view:hover{
  opacity: 0.8;
}
.img-box{
  width:40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.img-box img{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.username{
  cursor: pointer;
  font-weight: 600;
  
}
.username:hover{
  color: var(--deep2);
}
.request-leave table tr td h4{
  font-size: 16px ;
  font-weight: 500;
  line-height: 18px;
}
.request-leave table tr td h4 span{
  font-size: 14px;
  color: var(--deep2);
}
@media (max-width:991px){
  .dash-card-box{
    grid-template-columns: repeat(2,1fr) ;
  }
  .grapbox{
    grid-template-columns: 1fr ;
  }
}
@media (max-width:768px){
  .dash-card-box{
    grid-template-columns: repeat(2,1fr) ;
  }
  .details{
    grid-template-columns: repeat(1,1fr) ;
  }
  .working-user{
    overflow: auto;
  }
}
@media (max-width:480px){
  .dash-card-box{
    grid-template-columns: repeat(1,1fr) ;
  }
}

</style>

<div class="dashboard">
  <div class="dash-card-box">
    <div class="card">
      <div>
        <div class="numbers"><%=totalUsers%></div>
        <div class="card-name">Users</div>
      </div>
        <div class="icon-box">
            <%- include("../partials/icons/users-icon.ejs"); -%>
       </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"><%=totalActive%></div>
        <div class="card-name">Active Users</div>
      </div>
      <div class="icon-box">
          <%- include("../partials/icons/active-user-icon.ejs"); -%>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"><%=totalLeaveToDay%> </div>
        <div class="card-name">Leave Users</div>
      </div>
      <div class="icon-box">
          <%- include("../partials/icons/leave-user-icon.ejs"); -%>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">4455</div>
        <div class="card-name">Users</div>
      </div>
      <div class="icon-box">
          <%- include("../partials/icons/users-icon.ejs"); -%>
      </div>
    </div>
  </div>
  <div class="grapBox">
    <div class="gBox">
      <canvas id="myPie" width="200" height="200"></canvas>
    </div>
    <div class="gBox">
      <canvas id="myDoughnut" width="200" height="200"></canvas>
    </div>
    <div class="gBox">
      <canvas id="myBar"></canvas>
    </div>
  </div>
  <div class="details">
    <div class="working-user">
      <div class="card-header">
        <h2>
          Working Employees
        </h2>
        <div class="add-button" >
          <button class="add-btn">
            <span class="add-icon">
              <%- include("../partials/icons/add-svg"); -%>
            </span>
            <span .add-btn-text>Add</span>
          </button>
        </div>
      </div>
   
      <table>
        <thead>
          <tr>
            <td></td>
          <td>Name</td>
          <td>Details</td>
          <td>Date</td>
          <td>Start</td>
          <td>End</td>
          <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% isEndTimeNull.map(user=>{ %>

            <tr>
              <td><div class="img-box">
                <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
                  %>
                  <img src="<%= user.avatar%>" />
                  <%} else{%>
                  <img
                    src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : user.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
                  />
                  <% } %>
              </div></td>
              <td>
            <div class="username userBtn" data-userID="<%=user.userId%>"><%=user.name%></div>
            <span id="role"><%= user.userRole==='admin'? 'admin' : ''%> </span>
          </td>
          <td > <%= user.work_details %></td>
          <td ><input class="get-date"  name="date"  type="text" disabled  value="<%= user.curDate %>"></td>
          <td class="time-picker"><input type="text" class="update-start-time-val timepicker-ui-input" name="startDate" value="<%= user.minStartTime %>"></td>
          <td class="user-end-time time-picker">  <input type="text" name="endTime" class="update-end-time-val timepicker-ui-input" value="<%= user.endTime %>"></td>
          <input type="hidden" name="userId" class="userId" value="<%= user.userId %>" />
          </td>


          <td class="btn-group">
            <button class="update-btn">Update</button>
            <button class="update-start-time ">Start</button>
            <button class="update-end-time ">End</button>
            <button class="save-btn">Save</button>
            <button class="save-btn-for-end-time">Save</button>
            <button type="text" class="opt-cancel-btn">Cancel</button>

          </td>
            </tr> 
            <% })  %> 
    <% todayEmployeesRecord.map(user=>{ %>

      <tr>
        <td><div class="img-box">
          <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
            %>
            <img src="<%= user.avatar%>" />
            <%} else{%>
            <img
              src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : user.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
            />
            <% } %>
        </div></td>
        <td>
      <div class="username userBtn" data-userID="<%=user.userId%>"><%=user.name%></div>
      <span id="role"><%= user.userRole==='admin'? 'admin' : ''%> </span>
      </td>
      <td > <%= user.work_details %></td>
      <td><input class="get-date" name="date" type="text" value=" <%= user.curDate %>"></td>
      <td class="time-picker"><input type="text" class="update-start-time-val timepicker-ui-input" name="startDate" value="<%= user.minStartTime %>"></td>
      <td class="user-end-time time-picker">  <input type="text" name="endTime" class="update-end-time-val timepicker-ui-input" value="<%= user.endTime %>"></td>
      <input type="hidden" name="userId" class="userId" value="<%= user.userId %>" />
      </td>
      </tr> 
      <% })  %> 
                
              </tbody>
            </table>
          </div>
          <div class="request-leave">
            <div class="card-header">
              <h2>Request Leave</h2>
              <a class="request-view" href="/options/request-leave">View</a>
            </div>
            <table>
            <%requestLeaveList.map(user=>{%>
              <tr>
                <td width="60px">
                  <div class="img-box">
                    <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
                        %>
                        <img src="<%= user.avatar%>" />
                        <%} else{%>
                        <img
                          src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : user.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>"
                        />
                        <% } %>
                  </div>
                </td>
                <td>
                  <h4>
                    <%=user.user_name%>
                    <br>
                    <span>
                      <%=user.typeName%>
                    </span>
                  </h4>
                </td>
              </tr>
            <% }) %>

      </table>
    </div>
  </div>
</div>

<%- include("../partials/manual-attendance.ejs"); -%>
<%- include("../partials/user-details-modal.ejs"); -%>

<script>
  const userNameBtn = document.querySelectorAll('.userBtn')
  const userDetailsModal = document.querySelector('#userDetails')
  const userDetailsModalClose = document.querySelector('.user-modal-close')
  const container = userDetailsModal.querySelector('.user-user-container')
  console.log(userNameBtn)
 for(var i =0;i<userNameBtn.length;i++){
  userNameBtn[i].addEventListener('click',async(e)=>{
    
    const element = e.target
    const userId=element.dataset.userid
    const api =await fetch(`/dashboard/user-today-details-for-admin/${userId}`)
    const data = await api.json()
    const {userInfo,todayReportDetails,weekReportDetails,todayWorkList,lateCountThisWeek} = data

    const bodyData = `  <div class="user-details-head">
          <div class="user-details">
            <div class="img">
             ${userInfo.avatar !== null && userInfo.avatar.match(/^(http|https):/g) ?
        `<img src=\"${userInfo.avatar}\"/>`:
      `<img src=\"/uploads/avatars/${userInfo.avatar!==null ?userInfo.avatar : userInfo.gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'}\" />`}
            </div>
            <div class="user-info">
            <div class="user-name">${userInfo.user_name}</div>
            <div class="user-mail">${userInfo.user_mail}</div>
            </div>
          </div>
          <div class="report-btn"><a href="/reports/${userId}">Report</a></div>
        </div>
        <div class="user-today-info">
          <table>
            <tr>
              <td>Entry :</td>
              <td>${todayReportDetails.start}</td>
            </tr>
            <tr>
              <td>Today Total Work : </td>
              <td>${todayReportDetails.todayTotal} hr</td>
            </tr>
            <tr>
              <td>Weekly Workday :</td>
              <td>${weekReportDetails.totalWorkingDays}/${weekReportDetails.fixedWorkdays} days</td>
            </tr>
            <tr>
              <td>Weekly Work :</td>
              <td>${weekReportDetails.workingTotalHr}/${weekReportDetails.fixedTotalHr} hr</td>
            </tr>
            <tr>
              <td>Late Count in Week :</td>
              <td>${lateCountThisWeek} days</td>
            </tr>

          </table>
        </div>
        <div class="user-work-details">
          <div class="working-user">
            <div class="card-header">
              <h2>Today Details</h2>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Project</td>
                  <td>Details</td>
                  <td>Start</td>
                  <td>End</td>
                  <td>total</td>
                </tr>
              </thead>
              <tbody>
                ${todayWorkList.map(tw=>
                  `<tr>
                  <td>${tw.project_name}</td>
                  <td>${tw.work_details}</td>
                  <td>${tw.start}</td>
                  <td>${tw.end}</td>
                  <td>${tw.total}</td>
                </tr>`
                )}
              </tbody>
            </table>
          </div>
        </div>`
        container.innerHTML = bodyData
        userDetailsModal.style.display = 'block'
  })
 }
  userDetailsModalClose.addEventListener('click',()=>{
    userDetailsModal.style.display = 'none'

  })
  </script>

<script src="<%=baseUrl%>/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="<%=baseUrl%>/js/myChart.js"></script>
<%- include("../partials/footer"); -%>