<%- include("../partials/header"); -%>

<style>
  .table-holidays {
    border-spacing: 0 15px;
    width: 700px;
  }

  .table-holidays tr {
    border-radius: 20px;
  }

  .table-holidays tr td:nth-child(n + 5),
  .table-holidays tr th:nth-child(n + 5) {
    border-radius: 0 0.625rem 0.625rem 0;
  }

  .table-holidays tr td:nth-child(1),
  tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
  }
</style>

<h4 class="text-2xl font-bold ml-10">Holidays List</h4>

<div class="bg-white flex justify-center mt-4">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <table
        class="table-holidays text-gray-400 border-separate space-y-6 text-sm"
      >
        <thead class="bg-blue-500 text-white">
          <tr>
            <th class="p-3">SL</th>
            <th class="p-3">Holiday Title</th>
            <th class="p-3 text-left">Start Date</th>
            <th class="p-3 text-left">End Date</th>
            <th class="p-3 text-left">Duration</th>
          </tr>
        </thead>
        <tbody id="holiday-list">
          <% holidays.map((day,idx) =>{ %>

          <tr class="bg-blue-200 text-black">
            <td class="p-3"><%= idx + 1 %></td>
            <td class="p-3"><%= day.title %></td>
            <td class="p-3"><%= day.start %></td>
            <td class="p-3"><%= day.end %></td>
            <td class="p-3"><%= day.duration + ' ' + 'day' %></td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("../partials/footer"); -%>
