<%- include("../partials/header"); -%>
<div id="home">
  <div class="home-head">
    <div class="oclock-box">
      <div class="time-box">
        <div class="current-time">
          <h5 class="time">00:00</h5>
          <span class="time-meridiem"></span>
        </div>
        <div class="current-date">Mon 22 Oct</div>
      </div>
      <div class="start-details">
        <table>
          <tr>
            <td>Started at:</td>
            <td id="todayStart"><%=start || '00 : 00'%></td>
          </tr>
          <tr>
            <td>Ended at:</td>
            <td id="todayEnd"><%=end || '00 : 00'%></td>
          </tr>
          <tr>
            <td>TotalWork Time:</td>
            <td id="todayTotal"><%= todayTotal %></td>
          </tr>
          <tr>
            <td>Break:</td>
            <td id="breakTime"><%=breakTime %></td>
          </tr>
        </table>
      </div>
      <div class="counter" id="elapsedTime">00:00:00</div>
      <div class="button">
        <div id="end-btn" style="display: none">
          <%- include("../partials/icons/stop-svg"); -%>
        </div>
        <%- include("../partials/start-modal"); -%>
        <div id="start-btn" class="add-button play">
          <%- include("../partials/icons/play-svg"); -%>
        </div>
      </div>
    </div>
  </div>

  <div
    id="home-info"
    class="home-info <%=checkTodayReportEmptyOrNot.length !== 0 ? '' : 'home-none' %>"
  >
    <div class="scroll-table">
      <table class="home-reports">
        <thead>
          <tr>
            <td class="project-name">Project Name</td>
            <td class="project-work">Work details</td>
            <td>Start</td>
            <td>End</td>
            <td>Total</td>
          </tr>
        </thead>

        <tbody id="todayReport" class="home-reports-tbody">
          <!---- Today details condition check -->

          <% today.map(today=>{ %>
          <tr>
            <td class="project-name"><%= today.project_name%></td>
            <td class="project-work"><%= today.work_details%></td>
            <td><%= today.start%></td>
            <td><%= today.end%></td>
            <td><%= today.total%></td>
          </tr>
          <%}) %>
        </tbody>
      </table>
    </div>
  </div>

  <%if(checkTodayReportEmptyOrNot.length === 0){ %>
  <div id="hidden-data">
    <h5>Today's report is empty now !</h5>
  </div>
  <% } %>

  <!-- Markup for current working user details -->
</div>

<script src="<%=baseUrl%>/js/startData.js"></script>
<script src="<%=baseUrl%>/js/home.js"></script>

<%- include("../partials/footer.ejs"); -%>
