<%- include("../partials/header"); -%>

<style>
  .table-leave {
    border-spacing: 0 15px;
    width: 700px;
  }

  .table-leave tr {
    border-radius: 20px;
  }

  .table-leave tr td:nth-child(n + 7),
  .table-leave tr th:nth-child(n + 7) {
    border-radius: 0 0.625rem 0.625rem 0;
  }

  .table-leave tr td:nth-child(1),
  tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
  }
</style>

<div class="flex justify-center">
  <a href="/add-leaveday"
    ><button class="p-2 bg-blue-500 rounded-lg text-white font-medium ml-4">
      Add Leaveday
    </button>
  </a>
</div>

<div class="bg-white flex justify-center mt-4">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <table
        class="table-leave text-gray-400 border-separate space-y-6 text-sm"
      >
        <thead class="bg-blue-500 text-white">
          <tr>
            <th class="p-3">SL</th>
            <th class="p-3">E. Name</th>

            <th class="p-3">Leave Reason</th>
            <th class="p-3 text-left">Start Date</th>
            <th class="p-3 text-left">End Date</th>
            <th class="p-3 text-left">Duration</th>
            <th class="p-3 text-left">Action</th>
          </tr>
        </thead>
        <tbody id="holiday-list">
          <% employeeLeaveList.map((day,idx) =>{ %>

          <tr class="bg-blue-200 text-black">
            <td class="p-2"><%= idx + 1 %></td>
            <td class="p-2"><%= day.name %></td>
            <td class="p-2"><%= day.reason %></td>
            <td class="p-2"><%= day.start %></td>
            <td class="p-2"><%= day.end %></td>
            <td class="p-2"><%= day.duration + ' ' + 'day' %></td>
            <td class="p-2">
              <a href="/edit/leaveday/<%=day.id %>"
                ><button class="p-2 bg-green-300 rounded-lg">Edit</button>
              </a>
              <a
                onclick=" return confirm('Are you Sure???')"
                href="/delete/leave/<%= day.id %>"
                ><button class="p-2 bg-red-300 rounded-lg">Delete</button>
              </a>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("../partials/footer"); -%>
