<%- include("../partials/header"); -%>

<style>
  .leaveday-table input[type="text"] {
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    width: 90%;
  }

  .leaveday-table th,
  .leaveday-table td {
    width: 158px !important;
  }
  .leaveday-table a {
    text-decoration: none;
  }
  .action-btn,
  .update-btn,
  .delete-btn,
  .save-btn {
    background-color: #103047;
    border-radius: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
  }
  .save-btn {
    background-color: rgb(17, 221, 17);
  }
  .delete-btn {
    background-color: rgb(255, 0, 0);
  }
  .action-btn,
  .save-btn {
    width: 50%;
  }
  .update-btn,
  .delete-btn,
  .save-btn {
    display: none;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 150px;
  }

  .set-styles {
    border-bottom: 3px solid #ccc;
    gap: 5px;
  }

  /* style for the date range holiday  same css  */
  .date-range-input {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
  }
  .date-range-input-container {
    background: #f3f3f3;
    border-radius: 8px;
    padding: 5px 10px;
    height: 45px;
  }

  .date-input {
    background: #f3f3f3;
    width: 150px;
    padding: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
    border: none;
    outline: none;
    /* border: 1px solid #EAEEF4;
  border-radius: 12px; */
    text-align: left;
  }
  .date-input:focus,
  input[type="data"]:focus {
    border: none;
    outline: none !important;
  }
</style>

<div id="users">
  <div class="text-head">
    <div class="text-title">Leave days</div>

    <%if(loggedInUser.userRole==='admin'){ %>

    <div class="add-button">
      <button class="add-btn">
        <span class="add-icon">
          <%- include("../partials/icons/add-svg"); -%>
        </span>
        <span .add-btn-text>Add Leave </span>
      </button>
    </div>
    <%}%>
  </div>
  <%- include("../partials/add-leaveday-modal"); -%>

  <!-- Markup Date range for employee-->

  <div class="date-range-input">
    <div class="report-title-container">
      <h4>Reports</h4>
      <p class="report-title">In this year.</p>
    </div>
    <div class="date-picker">
      <div class="start-date">
        <input
          onblur="iconCheck()"
          id="startPicker"
          type="text"
          placeholder="-- / -- / ----"
        />
      </div>
      <div class="to">to</div>
      <div class="end-date">
        <input
          onblur="iconCheck()"
          id="endPicker"
          placeholder="-- / -- / ----"
        />
      </div>
      <div id="date-icon" onclick="dateRange()" class="date-icon">
        <svg
          width="26"
          height="30"
          viewBox="0 0 26 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.66667 1.66675V5.66675V1.66675ZM18.3333 1.66675V5.66675V1.66675ZM1.66667 11.1201H24.3333H1.66667ZM25 10.3334V21.6667C25 25.6667 23 28.3334 18.3333 28.3334H7.66667C3 28.3334 1 25.6667 1 21.6667V10.3334C1 6.33341 3 3.66675 7.66667 3.66675H18.3333C23 3.66675 25 6.33341 25 10.3334Z"
            stroke-width="2"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.05859 21.2666H8.07193M17.9266 17.2666H17.9386H17.9266ZM17.9266 21.2666H17.9386H17.9266ZM12.9933 17.2666H13.0066H12.9933ZM12.9933 21.2666H13.0066H12.9933ZM8.05859 17.2666H8.07193H8.05859Z"
            stroke-width="2.66667"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>

  <!-- Markup for leave days table  -->
  <table class="table leaveday-table">
    <thead>
      <tr>
        <td class="table-img td-width-zero"></td>

        <td>Name</td>
        <td class="project-table-title">Leave Reason</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Duration</td>
      </tr>
    </thead>
    <tbody>
      <%if(loggedInUser.userRole==='admin'){ %> <%
      employeeLeaveList.map((user,idx) =>{ %>
      <tr>
        <td class="table-img td-width-zero">
          <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
          %>
          <img src="<%= user.avatar%>" />
          <%} else{%>
          <img
            src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : 'demo-avatar.png' %>"
          />
          <% } %>
        </td>
        <td>
          <div class="username"><%=user.name%></div>
          <span id="role"><%= user.user_role==='admin'? 'admin' : ''%> </span>
        </td>
        <td>
          <input class="reason-val" type="text" value="<%=user.reason %>" />
        </td>
        <td>
          <input class="start-val" type="text" value="<%=user.start%> " />
        </td>
        <td><input class="end-val" type="text" value="<%=user.end%>" /></td>
        <td class="duration"><%= user.duration + ' ' + 'day' %></td>
        <td class="">
          <div class="btn-group">
            <button type="button" class="action-btn">Action</button>
            <button type="button" class="update-btn">Update</button>
            <button type="button" class="save-btn">Save</button>
            <input type="hidden" class="leave-id" value="<%= user.id %>" />
            <a
              onclick=" return confirm('Are you Sure???')"
              href="leavedays/delete/<%= user.id %>"
              ><button class="delete-btn">Delete</button>
            </a>
          </div>
        </td>
      </tr>

      <% }) %> <%}else{%> <% anEmployeeLeavedaysList.map((user,idx) =>{ %>
      <tr>
        <td class="table-img td-width-zero">
          <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
          %>
          <img src="<%= user.avatar%>" />
          <%} else{%>
          <img
            src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : 'demo-avatar.png' %>"
          />
          <% } %>
        </td>
        <td>
          <div class="username"><%=user.user_name%></div>
          <span id="role"><%= user.user_role==='admin'? 'admin' : ''%> </span>
        </td>
        <td>
          <input class="reason-val" type="text" value="<%=user.reason %>" />
        </td>
        <td>
          <input class="start-val" type="text" value="<%=user.start%> " />
        </td>
        <td><input class="end-val" type="text" value="<%=user.end%>" /></td>
        <td class="duration"><%= user.duration + ' ' + 'day' %></td>
      </tr>

      <% }) %> <% } %>
    </tbody>
  </table>
</div>

<script>
  const actionBtn = document.querySelectorAll(".action-btn");
  const updateBtn = document.querySelectorAll(".update-btn");
  const saveBtn = document.querySelectorAll(".save-btn");
  const deleteBtn = document.querySelectorAll(".delete-btn");
  const leaveId = document.querySelectorAll(".leave-id");
  const reasonVal = document.querySelectorAll(".reason-val");
  const startVal = document.querySelectorAll(".start-val");
  const endVal = document.querySelectorAll(".end-val");
  const duration = document.querySelectorAll(".duration");
  //

  for (let i = 0; i < actionBtn.length; i++) {
    actionBtn[i].addEventListener("click", () => {
      actionBtn[i].style.display = "none";
      updateBtn[i].style.display = "block";
      deleteBtn[i].style.display = "block";
    });
  }

  // when click on update button
  for (let i = 0; i < updateBtn.length; i++) {
    updateBtn[i].addEventListener("click", () => {
      updateBtn[i].style.display = "none";
      saveBtn[i].style.display = "block";
      deleteBtn[i].style.display = "none";

      reasonVal[i].focus();
    });
  }
  // when click on save button
  for (let i = 0; i < saveBtn.length; i++) {
    saveBtn[i].addEventListener("click", () => {
      //saveBtn[i].style.display = "none";

      let reason = reasonVal[i].value.trim();
      let start = startVal[i].value.trim();
      let end = endVal[i].value.trim();
      let id = leaveId[i].value;
      console.log(id);
      if (reason === "" || start === "" || end === "") {
        alert("Please fill all the fields");
        return;
      }
      let data = {
        reason: reason,
        start: start,
        end: end,
        id: id,
      };
      console.log(data);
      aJAXPostRequest("/options/leavedays/update", data);
      reasonVal[i].value = data.reason;
      startVal[i].value = data.start;
      endVal[i].value = data.end;
      duration[i].innerText = dateDiff(data.start, data.end) + " day";
      saveBtn[i].style.display = "none";
      actionBtn[i].style.display = "block";
    });
  }

  // function for date diff
  function dateDiff(dateOne, dateTwo) {
    const date1 = new Date(dateOne);
    const date2 = new Date(dateTwo);
    const diffTime = Math.abs(date2 - date1);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;
    return diffDays;
  }
  //  AJAX post request function
  function aJAXPostRequest(url, data) {
    return new Promise((resolve, reject) => {
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((res) => res.json())
        .then((data) => {
          console.log({ data });
          if (data.success) {
            alert("Option Value Updated");
          }
        })
        .catch((err) => console.log(err));
      // return window.location.replace("/options/holiday");
    });
  }
</script>

<%- include("../partials/footer"); -%>
