<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title><%= title%></title>
</head>
<body>
    <div id="login">
      <form action="/" method="post">
      <div class="login-box">
        <div class="login-logo">
          <%- include("../partials/icons/login-logo.ejs"); -%>
            
        </div>
        <div class="login-input">
          <div class="">
            <input type="text" name="userMail" value="<%= data.username %>"placeholder="Email / Username">
          </div>
          <% if(errors.userMail){%>
            <p class="error-msg"><%= errors.userMail.msg %></p>
            <% } %> 
          <div class="login-password">
            <input type="password" name="userPass" id="" placeholder="*************">
            <% if(errors.userPass){ %>
              <p class="error-msg"><%= errors.userPass.msg %></p>
              <% } %> 
            <% if(errors.common) { %>
              <p class="error-msg"><%= errors.common.msg %></p>
              <% } %>
          </div>
          <div class=""> <button class="login-btn">Login</button> </div>
        </div>
        <div class="social-login">
          <ul>
           <a href="">
            <li>
              <%- include("../partials/icons/twitter-logo.ejs"); -%>              
            </li>
           </a>
            <a href="/auth/facebook">
              <li>
                <%- include("../partials/icons/facebook-logo.ejs"); -%>  
                  
              </li>
            </a>
            <a href="/auth/google">
              <li>
                <%- include("../partials/icons/google-logo.ejs"); -%>     
              </li>
            </a>
          </ul>
        </div>
        <div class="login-forget">
          <a href="/search-user">Forget Password ?</a>
        </div>
        <div class="login-active">
          Dont have active account ?<a href="/search-account-active"> Active here</a>
        </div>        
      </div>
    </form>
    </div>

    <script>
     
    </script>
</body>
</html>