<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  src="https://kit.fontawesome.com/64d58efce2.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/vendors/toastify.css">
<script src="js/vendors/toastify.js"></script>


  <title><%= title %> </title>
</head>
<body>
  <div class="container">
     <div class="forms-container">
      <div class="signin">
        <form action="/" class="singin-form"  method="POST">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user error" ></i>
            <input type="text" class="error-input" name="userMail" placeholder="Email or Username" value="<%= data.username %>">          
            </div>
            <div class="input-field">
              <i class="fas fa-lock" ></i>
              <input type="password" class="error-input" name="userPass" placeholder="Password" >
            </div>
            <% if(errors.userMail){%>
            <p class="error-msg"><%= errors.userMail.msg  %></p>
            <% }else if(errors.userPass){ %>    
              <p class="error-msg"><%= errors.userPass.msg  %></p>
              <% } %> 
              <% if(errors.common) { %>
                <p class="error-msg"> <%= errors.common.msg  %>  </p>
              <% } %>  
            <input type="submit" value="Login" class="btn solid">
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h2>Welcome to</h2>
          <h1>OClock-Time Tracking</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit cum illo </p>
        </div>
        <img src="../../img/time.svg" class="image" alt="">
      </div>
    </div>
  </div>
</body>
</html>
<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

<script >
  
  let auth =  '<%= auth %>';
  let signIn =  '<%= signIn %>';
  const authFailToast = Toastify({
            text : "authentication failed!",
            duration: 3000
          })
  const successToast = Toastify({
            text : "Signin successfully!",
            duration: 2000
          })
  if(auth==="true"){
    authFailToast.showToast()
  }
  if(signIn==="true"){
    successToast.showToast()
   setTimeout(()=>{
    location.href = "/dashboard"
   },2000)
  }
</script>
