<%- include("../partials/header"); -%>
<style>
  .project-table input[type="text"] {
    outline: none !important;
    border-radius: 10px;
  }
  .project-table input[type="text"]:focus {
    outline: none;
    border: none;
  }
  .option-value {
    border: none;
    background-color: transparent;
    padding: 6px;
    outline: none;
  }
  .option-value-focus:focus {
    color: red;
    outline: none;
  }

  .bottom-border {
    color: red;
    outline: none;
  }
  .opt-val-change-btn,
  .opt-val-save-btn {
    background-color: #103047;
    border-radius: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
  }
  .opt-val-save-btn {
    background-color: rgb(17, 221, 17);
    display: none;
  }
  .green {
    background-color: rgb(17, 221, 17);
  }
</style>

<div id="project">
  <div class="text-head">
    <div class="text-title">Options List</div>
  </div>
  <table class="project-table">
    <thead>
      <tr>
        <td>SL</td>
        <td class="project-table-title">Title</td>
        <td>Values</td>
      </tr>
    </thead>
    <tbody>
      <% optionList.map((op,idx) =>{ %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= op.option_title %></td>
        <td>
          <input
            type="text"
            class="option-value"
            name="optionValue"
            value="<%= op.option_value %>"
          />
        </td>
        <td>
          <input
            class="optionId"
            type="hidden"
            name="optionId"
            value="<%= op.id %>"
          />
        </td>
        <td>
          <button type="text" class="opt-val-change-btn">Change</button>
          <button type="submit" class="opt-val-save-btn">save</button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
  /*
  const optionValueChangeBtn = document.querySelectorAll(".opt-val-change-btn");
  const optionValueInput = document.querySelectorAll(".option-value");
  const optionIdInput = document.querySelectorAll(".optionId");
  const optionValueSaveBtn = document.querySelectorAll(".opt-val-save-btn");
  console.log(optionValueChangeBtn);

  for (let i = 0; i < optionValueChangeBtn.length; i++) {
    optionValueChangeBtn[i].addEventListener("click", (e) => {
      e.preventDefault();
      optionValueSaveBtn[i].style.display = "block";
      optionValueChangeBtn[i].style.display = "none";
      //optionValueInput[i].classList.add("bottom-border", "option-value-focus");
      optionValueInput[i].focus();
    });
  }
  // when user click on save button
  for (let i = 0; i < optionValueSaveBtn.length; i++) {
    optionValueSaveBtn[i].addEventListener("click", (e) => {
      e.preventDefault();
      let optionValue = optionValueInput[i].value;
      let optionId = optionIdInput[i].value;
      if (optionValue == "") {
        alert("Please enter option value");
        return;
      }
      let data = {
        optionValue: optionValue,
        optionId: optionId,
      };
      //console.log({ data });
      aJAXPostRequest("/options/option-values/update-option-value", data);
      optionValueInput[i] = data.optionValue;
      optionValueSaveBtn[i].style.display = "none";
      optionValueChangeBtn[i].style.display = "block";
    });
  }
  //  AJAX post request function
  function aJAXPostRequest(url, data) {
    return new Promise((resolve, reject) => {
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((res) => res.json())
        .then((data) => {
          console.log({ data });
          if (data.success) {
            alert("Option Value Updated");
          }
        })
        .catch((err) => console.log(err));
      // return window.location.replace("/options/option-values");
    });
  }

    */
</script>
<script type="module" src="<%=baseUrl%>/js/optionValues.js"></script>

<%- include("../partials/footer"); -%>
