<%- include("../partials/header"); -%>
<div id="profile">
  <div class="container">
    <form   id="form">
      <div class="profile-avatar-img">
        
        <% if(avatar !== null && avatar.match(/^(http|https):/g)){ %>
          <img
          id="img"
          src="<%=avatar%>"
          />
          <%} else{%>
            <img
            id="img"
            src="/uploads/avatars/<%=avatar != null ? avatar : gender=='male' ? 'demo-avatar.png':'female-demo-avatar.png'  %>" />
            <% } %> 
            
            <!-- Markup for update img -->
            <div id="profile-update-btn" class="">
              <div class="update-icon">
                <label title="upload under 1MB file" for="edit">
                  <%- include("../partials/icons/edit-svg") -%> 
                </label>
                <input
                  onchange="readURL(this)"
                  name="avatar"
                  hidden
                  id="edit"
                  type="file"
                  :accept="accept"
                />
              </div>
      
              <div class="update-icon">
                  <% if(platformUser.find(connection => connection.platform ===
                  'google')) { %>
                    <span  onclick="imgSet('<%=platformUser.find(connection => connection.platform === 'google').user_avatar%>')" >
                      <%- include("../partials/icons/google-svg.ejs");  -%>
                      <%}%>
                    </span>
                   
              </div>
              <div class="update-icon">
                  <% if(platformUser.find(connection => connection.platform ===
                  'facebook')) {%>
                    <span  onclick="imgSet('<%=platformUser.find(connection => connection.platform === 'facebook').user_avatar%>')" >
                      <%- include("../partials/icons/facebook-svg.ejs");  -%>
                      <%}%>
                    </span>
              </div>
            </div>
           
            
      </div>
      
      

      <!-- Markup for icon -->

      <div class="social-icon">
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'facebook')) {%>
          <a title="Remove" class="social-box" href="/remove/facebook"
            >
            <span class="social-icon-active"><%- include("../partials/icons/facebook-bold-svg") -%> </span>
            <span class="social-text">
              <%=platformUser.find(connection => connection.platform === 'facebook' ).user_name.split(" ").map(s=>s[0]).join('')%>
%>
              </span>
          </a>
          <% } else{ %>
            <a title="Connect" href="/auth/facebook">
              <%- include("../partials/icons/facebook-svg") -%> 
              </a>
            <%}%>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'google')) {%>
          <a title="Remove" class="social-box" href="/remove/google" >
           <span class="social-icon-active social-active"><%- include("../partials/icons/google-svg") -%> </span>
            <span class="social-text"><%= platformUser.find(connection => connection.platform ===
                  'google').user_name.split(" ").map(s=>s[0]).join('')%></span>
          </a>
          <% }else{%>
             <% if(google !==''){ %>
                <a title="Connect" href="/auth/google" >
            <%- include("../partials/icons/google-svg") -%> 
          </a>
             <% } %>
             <% } %>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ==='twitter')) {%>
            <a title="Remove" class="social-box" href="" >
           <span class="social-icon-active social-active"> <%- include("../partials/icons/twitter-svg") -%> </span>
            <span class="social-text"><%= platformUser.find(connection => connection.platform ===
                  'twitter').user_name.split(" ").map(s=>s[0]).join('')%></span>
          </a>
          <% }else{%>
            <a title="Connect" >
            <%- include("../partials/icons/twitter-svg") -%> 
          </a>
             <% } %>
        </span>
      </div>
      <input hidden name="socialImage" type="text" hidden>
      <label for="name"
        >Finger ID
        <div class="">
          <input value="<%= finger_id %>" id="name" name="fingerId" type="text" />
        </div>
      </label>
      <label for="name"
        >Name
        <div class="">
          <input value="<%= user_name %>" id="name" name="name" type="text" />
        </div>
      </label>
      <label for="gender">
            Gender
            <div class="">
              <select name="gender" id="gender">
                <option disabled selected>Select Gender</option>
                <option <%=gender=='male'? 'selected':''%> value="male">Male</option>
                <option <%=gender=='female'? 'selected':''%> value="female">Female</option>
                <option <%=gender=='other'? 'selected':''%> value="other">Other</option>
              </select>
              <p class="error select-error"></p>
            </div>
          </label>
     <label for="">Email</label>
      <div class="demo-input">
        <%= user_mail %>
      </div>
      <label for="phone">
        Phone
        <div class="">
          <input type="tel" value="<%= user_phone %>" name="phone" id="phone" />
        </div>
      </label>
      <label for="">Join Date</label>
      <div class="demo-input">
        <%= create_at %>
      </div>
      <label for="newPassword">
        Old Password
        <div class="">
          <input type="password" name="oldPassword" id="oldPassword" />
          <p class="error password-error"></p>
        </div>
      </label>
      <label for="oldPassword">
        New Password
        <div class="">
          <input type="password" name="password" id="password" />
        </div>
      </label>
      <p class="error avatar-error"></p>
        <p class="error common-error"></p>
      <div class="">
        <button id="user-cancel-btn" type="reset" class="cancel-btn" >cancel</button>  
      </div>
      <div class="">
        <button disabled id="user-save-btn" class="submit-btn" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector('form')
  const userCancelBtn = document.getElementById("user-cancel-btn");
  const userSaveBtn = document.getElementById("user-save-btn");
  form.addEventListener('click', () => {
    console.log('fff')
    userSaveBtn.disabled = false
    userCancelBtn.style.display = "inline";
  });
</script>
<script>
  function readURL(input) {
          console.log(input)
    if (input.files && input.files[0]) {
      userSaveBtn.disabled = false
      var reader = new FileReader();
      console.log(reader)
      reader.onload = function (e) { 
        console.log(e)
        document.querySelector('#img').setAttribute("src",e.target.result);
      };
      reader.readAsDataURL(input.files[0]); 
    }
  }  

  function imgSet(link){
    document.querySelector("input[name='socialImage'").value = link
    userSaveBtn.disabled = false
    document.querySelector('#img').setAttribute("src",link);
  }

</script>
<script src="<%= baseUrl %>/js/profile.js"></script>
<%- include("../partials/footer"); -%>
