<%- include("../partials/header"); -%>

<style>
  /* .profile-avatar {
    position: relative;
  } */
  .update-img-btn-gp {
    position: absolute;
    margin-left: 52%;
    margin-top: -6%;
    cursor: pointer;
    background:none;
    border: solid 1px #2e2e2e;
    max-width: 35px;
    height: 35px;
    border-radius: 20px;
    overflow: hidden;
    gap: 10px;
    padding: 5px 12px 8px 12px;
    opacity: 0.9;
  }
  .update-img-btn-gp a:nth-child(1) {
    content: " ";
    margin-left: -5px;
  }
  .update-img-btn-gp a:nth-child(2),
  a:nth-child(3) {
    content: " ";
    margin-left: 10px;
  }
  .update-img-btn-gp svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .update-img-btn-gp:hover {
    max-width: 180px;
    opacity: 1;

    transition: all 1s;
  }
  .update-icon {
    display: inline-block;
  }
  .update-icon svg{
    width: 24px;
    height: 24px;
    stroke: #FFFFFF;
  }
  #profile .social-icon {
    margin-bottom: 10px;
  }
</style>
<div id="profile">
  <div class="container">
    <form action="/user/edit/info" method="post" id="edit-form">
      <div class="profile-avatar">
        <% let url = avatar %> <% if(url.search('https://') === -1){ %>
        <img
          class="rounded-full h-20 w-20 object-cover"
          src="/uploads/avatars/<%= avatar %>"
        />
        <% } else {%>
        <img class="rounded-full h-20 w-20 object-cover" src="<%= avatar %>" />
        <% } %>

        <!-- Markup for update img -->
        <div class="update-img-btn-gp">
          <a href="">
            <div class="update-icon">
              <label title="upload under 1MB file" for="edit">
                <%- include("../partials/icons/edit-svg") -%> 
              </label>
              <input
                onchange="readURL(this)"
                name="avatar"
                hidden
                id="edit"
                type="file"
                :accept="accept"
              />
            </div>
          </a>

          <a href="">
            <div class="update-icon">
              <%- include("../partials/icons/google-svg.ejs"); -%>
            </div>
          </a>
          <a>
            <div class="update-icon">
              <%- include("../partials/icons/facebook-svg.ejs"); -%>
            </div>
          </a>
        </div>
      </div>

      <!-- Markup for icon -->

      <div class="social-icon">
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'facebook')) {%>
          <a title="Remove" class="" href=""
            >
            <%- include("../partials/icons/facebook-bold-svg") -%> 
          </a>
          <% } else{ %>
            <a title="Connect" href="/auth/facebook">
              <%- include("../partials/icons/facebook-svg") -%> 
              </a>
            <%}%>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'google')) {%>
          <a title="Remove" class="social-active" href="" >
            <%- include("../partials/icons/google-svg") -%> 
          </a>
          <% }else{%>
            <a title="Connect" href="/auth/google" >
            <%- include("../partials/icons/google-svg") -%> 
          </a>
             <% } %>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'twitter')) {%>
          <a title="Remove" class="social-active">
            <%- include("../partials/icons/twitter-svg") -%> 
          </a>
          <% }else{%>
            <a title="Connect" >
            <%- include("../partials/icons/twitter-svg") -%> 
          </a>
             <% } %>
        </span>
      </div>

      <label for="name"
        >Name
        <div class="">
          <input value="<%= user_name %>" id="name" name="name" type="text" />
        </div>
      </label>
      <label for="email">
        Email
        <div class="">
          <input
            type="email"
            name="email"
            id="email"
            value="<%= user_mail %>"
          />
        </div>
      </label>
      <label for="phone">
        Phone
        <div class="">
          <input type="tel" value="<%= user_phone %>" name="phone" id="phone" />
        </div>
      </label>

      <label for="newPassword">
        Old Password
        <div class="">
          <input type="password" name="new-password" id="newPassword" />
        </div>
      </label>

      <label for="oldPassword">
        New Password
        <div class="">
          <input type="password" name="old-password" id="oldPassword" />
        </div>
      </label>
      <div class="">
        <button id="user-save-btn" class="submit-btn" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const name = document.getElementById("name");
  console.log(name.value);
  const editFrom = document.querySelector("#edit-form");
  const userSaveBtn = document.getElementById("user-save-btn");

  userSaveBtn.disabled = true;
  console.log({ editFrom, userSaveBtn });
  editFrom.addEventListener("keyup", () => {
    userSaveBtn.disabled = true ? (userSaveBtn.disabled = false) : "";
    userSaveBtn.style.background = "green";
  });
</script>
<%- include("../partials/footer"); -%>
