<%- include("../partials/header"); -%>

<style>
  .profile-avatar-img{
    position: relative;
    margin-bottom: 20px;
  }
  .profile-avatar-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
 #profile-update-btn{
    position: absolute;
    width: 40px;
    height: 32px;
    overflow: hidden;
    border-radius: 17px;
    top: 120px;
    margin-left: -40px;
    display: inline-block;
    background: #2E2E2E;
    transition: 1s ease;

  }
  #profile-update-btn:hover{
   width: 120px;
  }
  #profile-update-btn a{
    text-decoration: none;
  }
  .update-icon {
    display: inline-block;
    padding: 2px;
    transition: 0.2s ease-in-out;
  }

  .update-icon svg{
    width: 28px;
    height: 28px;
    stroke: #FFFFFF;
    stroke-width: 2;
    cursor: pointer;
  }
  #profile .social-icon {
    margin-bottom: 10px;
  }
  .social-icon span{
    cursor: pointer;
  }
  .social-icon svg {
    stroke: #7B81A2;
  }
  .social-box{
	color: var(--deep2);
	font-size: 16px;
  width: 90px;
  border: 1px solid #E8E8E8;
  border-radius: 13px;
	background:#FFFFFF;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
  transition: 1s ease;
  overflow: hidden;
  margin: 4px 2px;
  }
  .social-box:hover{
    border: 1px solid var(--red);
  }
  .social-icon-active{
  padding: 6px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
  }
  .social-text{
    padding: 6px 8px;
    text-transform: uppercase;
  }
  #img{

  }

</style>
<div id="profile">
  <div class="container">
    <form   id="form">
      <div class="profile-avatar-img">
        
        <% if(avatar !== null && avatar.match(/^(http|https):/g)){ %>
          <img
          id="img"
          src="<%=avatar%>"
          />
          <%} else{%>
            <img
            id="img"
            src="/uploads/avatars/<%=avatar != null ? avatar : 'demo-avatar.png' %>" />
            <% } %> 
            
            <!-- Markup for update img -->
            <div id="profile-update-btn" class="">
              <div class="update-icon">
                <label title="upload under 1MB file" for="edit">
                  <%- include("../partials/icons/edit-svg") -%> 
                </label>
                <input
                  onchange="readURL(this)"
                  name="avatar"
                  hidden
                  id="edit"
                  type="file"
                  :accept="accept"
                />
              </div>
      
              <div class="update-icon">
                  <% if(platformUser.find(connection => connection.platform ===
                  'google')) {%>
                    <span  onclick="imgSet('<%=platformUser.find(connection => connection.platform === 'google').user_avatar%>')" >
                      <%- include("../partials/icons/google-svg.ejs");  -%>
                      <%}%>
                    </span>
                   
              </div>
              <div class="update-icon">
                  <% if(platformUser.find(connection => connection.platform ===
                  'facebook')) {%>
                    <span  onclick="imgSet('<%=platformUser.find(connection => connection.platform === 'facebook').user_avatar%>')" >
                      <%- include("../partials/icons/facebook-svg.ejs");  -%>
                      <%}%>
                    </span>
              </div>
            </div>
           
            
      </div>
      
      

      <!-- Markup for icon -->

      <div class="social-icon">
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'facebook')) {%>
          <a title="Remove" class="social-box" href="/remove/facebook"
            >
            <span class="social-icon-active"><%- include("../partials/icons/facebook-bold-svg") -%> </span>
            <span class="social-text">
              <%=platformUser.find(connection => connection.platform === 'facebook' ).user_name.split(" ").map(s=>s[0]).join('')%>
%>
              </span>
          </a>
          <% } else{ %>
            <a title="Connect" href="/auth/facebook">
              <%- include("../partials/icons/facebook-svg") -%> 
              </a>
            <%}%>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'google')) {%>
          <a title="Remove" class="social-box" href="/remove/google" >
           <span class="social-icon-active social-active"><%- include("../partials/icons/google-svg") -%> </span>
            <span class="social-text"><%= platformUser.find(connection => connection.platform ===
                  'google').user_name.split(" ").map(s=>s[0]).join('')%></span>
          </a>
          <% }else{%>
            <a title="Connect" href="/auth/google" >
            <%- include("../partials/icons/google-svg") -%> 
          </a>
             <% } %>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ==='twitter')) {%>
            <a title="Remove" class="social-box" href="" >
           <span class="social-icon-active social-active"> <%- include("../partials/icons/twitter-svg") -%> </span>
            <span class="social-text"><%= platformUser.find(connection => connection.platform ===
                  'twitter').user_name.split(" ").map(s=>s[0]).join('')%></span>
          </a>
          <% }else{%>
            <a title="Connect" >
            <%- include("../partials/icons/twitter-svg") -%> 
          </a>
             <% } %>
        </span>
      </div>
      <input hidden name="socialImage" type="text" hidden>
      <label for="name"
        >Name
        <div class="">
          <input value="<%= user_name %>" id="name" name="name" type="text" />
        </div>
      </label>
      <div class="demo-input">
        <%= user_mail %>
        </div>
      <label for="phone">
        Phone
        <div class="">
          <input type="tel" value="<%= user_phone %>" name="phone" id="phone" />
        </div>
      </label>

      <label for="newPassword">
        Old Password
        <div class="">
          <input type="password" name="oldPassword" id="oldPassword" />
          <p class="error password-error"></p>
        </div>
      </label>

      <label for="oldPassword">
        New Password
        <div class="">
          <input type="password" name="password" id="password" />
        </div>
      </label>
      <p class="error avatar-error"></p>
        <p class="error common-error"></p>
      <div class="">
        <button id="user-cancel-btn" type="reset" class="cancel-btn" >cancel</button>  
      </div>
      <div class="">
        <button disabled id="user-save-btn" class="submit-btn" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector('form')
  console.log(form)
  const userCancelBtn = document.getElementById("user-cancel-btn");
  const userSaveBtn = document.getElementById("user-save-btn");
  form.addEventListener("keyup", () => {
    userSaveBtn.disabled = false
    userCancelBtn.style.display = "inline";
  });
</script>
<script>
  function readURL(input) {
          console.log(input)
    if (input.files && input.files[0]) {
      userSaveBtn.disabled = false
      var reader = new FileReader();
      console.log(reader)
      reader.onload = function (e) { 
        console.log(e)
        document.querySelector('#img').setAttribute("src",e.target.result);
      };
      reader.readAsDataURL(input.files[0]); 
    }
  }  

  function imgSet(link){
    document.querySelector("input[name='socialImage'").value = link
    userSaveBtn.disabled = false
    document.querySelector('#img').setAttribute("src",link);
  }

</script>
<script>
  const errorPlaceholders = document.querySelectorAll("p.error");
    for (let i = 0; i < errorPlaceholders.length; i++) {
      errorPlaceholders[i].style.display = "none";
    }
    const inputErrors = document.querySelectorAll("input.error");
    if (inputErrors.length > 0) {
      for (let j = 0; j < inputErrors.length; j++) {
        inputErrors[j].classList.remove("error");
      }
    }
  const submitBtn = document.querySelector("#user-save-btn")
  submitBtn.addEventListener("click", async(e)=>{
    const fileField = document.querySelector('input[type="file"]');
    e.preventDefault()
    const formdata = new FormData(form)
      // formdata.append('avatar',fileField.files[0])
    let response = await fetch("/update-profile", {
      method: "POST",
      body: formdata,
    });
    const result = await response.json()
    console.log(result)
    if (result.errors) {
      // errors
      Object.keys(result.errors).forEach((fieldName) => {
        console.log(fieldName)
        // add error class to all inputs
        form[fieldName].classList.add("error");
        // set all error placeholders (p tag) textContent
        const errorPlaceholder = document.querySelector(`.${fieldName}-error`);
        errorPlaceholder.textContent = result.errors[fieldName].msg;
        // make all placeholders visible
        errorPlaceholder.style.display = "block";
      });
    }else {
      document.querySelector("p.error").style.display = "none";
      document.querySelector("#user-cancel-btn").style.display = "none";
      // reload the page after 1 second
      setTimeout(() => {
        location.href = "/profile"
      }, 1000);
    }
  })
</script>
<%- include("../partials/footer"); -%>
