<%- include("../partials/header"); -%>

<div id="project">
  <div class="text-head">
    <div class="text-title">Projects</div>
    <div class="add-button">
      <button class="add-btn">
        <span class="add-icon">
          <%- include("../partials/icons/add-svg"); -%>
        </span>
        <span .add-btn-text>Add Project</span>
      </button>
    </div>
  </div>
  <%- include("../partials/add-project-modal"); -%>
  <table class="project-table">
    <thead>
      <tr>
        <td class="project-table-title">Project Name</td>
        <td>Project Details</td>
      </tr>
    </thead>
    <tbody>
      <% projects.map(project=>{ %>
      <tr>
        <td class="project-table-title"><%= project.project_name %></td>
        <td><%= project.project_details %></td>
        <td class="user-more">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="40" height="40" rx="15" />
            <circle cx="10" cy="20" r="2" fill="#4A4A4A" />
            <circle cx="20" cy="20" r="2" fill="#4A4A4A" />
            <circle cx="30" cy="20" r="2" fill="#4A4A4A" />
          </svg>
        </td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>
<%- include("../partials/footer"); -%>
