<%- include("../partials/header"); -%>

<style>
  .project-table thead td:nth-child(1) {
    min-width: 60px;
  }
  .project-table tbody td {
    margin-bottom: -1px;
  }

  .action-btn,
  .update-btn,
  .delete-btn,
  .save-btn {
    background-color: #103047;
    border-radius: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
  }
  .save-btn {
    background-color: rgb(17, 221, 17);
  }
  .delete-btn {
    background-color: rgb(255, 0, 0);
  }
  .action-btn,
  .save-btn {
    width: 60px;
  }
  .update-btn,
  .delete-btn,
  .save-btn {
    display: none;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
</style>
<div id="project">
  <div class="text-head">
    <div class="text-title">Projects</div>
    <div class="add-button">
      <button class="add-btn">
        <span class="add-icon">
          <%- include("../partials/icons/add-svg"); -%>
        </span>
        <span .add-btn-text>Add Project</span>
      </button>
    </div>
  </div>
  <%- include("../partials/add-project-modal"); -%>
  <table class="project-table">
    <thead>
      <tr>
        <td>SL</td>
        <td>Date</td>
        <td class="project-table-title">Project Name</td>
        <td>Project Details</td>
      </tr>
    </thead>
    <tbody>
      <% projects.map((project,idx)=>{ %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= project.date %></td>
        <td class="project-table-title title-value">
          <%= project.project_name %>
        </td>
        <td class="project-details"><%= project.project_details %></td>
        <%if(loggedInUser.userRole==='admin'){ %>
        <td class="btn-group">
          <button type="button" class="action-btn">Action</button>
          <button type="button" class="update-btn">Update</button>
          <button type="button" class="delete-btn">Delete</button>
          <button type="button" class="save-btn">Save</button>
          <input type="hidden" class="project-id" value="<%= project.id %>" />
        </td>
        <% } %>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>

<script src="<%= baseUrl %>/js/project.js"></script>
<%- include("../partials/footer"); -%>
