<%- include("../partials/header"); -%>
<div class="flex items-center justify-center min-h-screen ">
    <div class="px-8 py-6 mx-4 mt-2 text-left bg-gray-100 shadow-lg md:w-1/3 lg:w-5/12 sm:w-1/3 rounded-lg">
        <h3 class="text-2xl font-bold text-center ">Register</h3>
        <form action="/register" method="POST">
            <div class="mt-2">
                <div>
                    <label class="" for="Name">Name<label>
                            <input type="text" name="userName" placeholder="Name"
                                class=" <%= error.userName ? 'error border': '' %> w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" value="<%= value.userName ? value.userName : '' %>">
                                <p class="text-red-500 text-sm p-1"><%= error.userName  %></p>
                                
                </div>
                <div class="mt-2">
                    <label  for="Phone">Phone Number<label>
                            <input type="number" name="userPhone" placeholder="Phone Number"
                                class="<%= error.userPhone ? 'error border': '' %> w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" value="<%= value.userPhone ? value.userPhone : '' %>">
                                                                <p class="text-red-500 text-sm p-1"><%= error.userPhone  %></p>

                </div>
              <div class="mt-2">
                <label>User Role</label>
                <div class="mt-2">
                  <label class="inline-flex items-center">
                    <input type="radio" class="form-radio " name="userRole" value="admin">
                    <span class="ml-2">Admin</span>
                  </label>
                  <label class="inline-flex items-center ml-6">
                    <input type="radio" class="form-radio" name="userRole" value="user" checked>
                    <span class="ml-2">User</span>
                  </label>
                </div>
              </div>

                <div class="mt-2">
                    <label  for="email">Email<label>
                            <input type="email" name="userMail" placeholder="Email"
                                class="<%= error.userMail ? 'error border' : '' %>  w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" value="<%= value.userMail ? value.userMail : ''%>">
                                                                <p class="text-red-500 text-sm p-1"><%= error.userMail  %></p>

                </div>
                <div class="mt-2">
                    <label>Password<label>
                            <input type="password" name="userPass" placeholder="Password"
                                class="<%= error.userPass ? 'error border' : '' %> w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" value="<%= value.userPass ? value.userPass : '' %>">
                                <p class="text-red-500 text-sm p-1"><%= error.userPass  %></p>

                </div>
                
                <div class="flex">
                    <button type="submit" class="w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-600">Create
                        User</button>
                </div>
               
            </div>
            
        </form>
    </div>
</div>

<%- include("../partials/footer"); -%>

