<%- include("../partials/header"); -%>
<style>
  .date-range-input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
.date-range-input-container{
  background: #f3f3f3;
  border-radius: 8px;
  padding: 5px 10px;
  height: 45px;
}
  .date-input{
  background: #f3f3f3;
  width: 150px;
  padding:  6px;
  font-size: 16px;
  font-weight: 400;
  color: #5E5E5E;
  border: none;
  outline: none;
  /* border: 1px solid #EAEEF4;
  border-radius: 12px; */
  text-align: left;
}
.date-input:focus, input[type="data"]:focus{
  border: none;
  outline: none !important;

}
.report-title-container{
  margin-top: 8px;
}
.report-title-container p{
  font-size: 14px;
  font-weight: 500;
}

.an-employee-report{
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #818181;
    text-transform: capitalize;
    
  }


.an-employee-report tr{
    text-align: left;
  }
.an-employee-report thead {
  padding: 40px;
  font-size: 16px;
  font-weight: 700;
  color: var(--deep-gray);
}


.an-employee-report tbody {
  font-size: 14px;
  font-weight: 500;
  color: var(--deep2);
}

.an-employee-report thead tr th{
  padding-bottom: 25px;
}
.an-employee-report tbody tr td {
  padding-top: 20px;
}
.an-employee-report th,
.an-employee-report td {
  width: 300px;
}

.date-to{
  font-size: 16px;
  font-weight: 500;
  padding-top:  6px;
}
  .bg-red-200 {
    color: #f81919;
  }
  .bg-red-400 {
    color: orangered;
  }
  .bg-yellow-200 {
    color: tomato;
  }
  #reports input:focus {
  outline: none !important;
  border: none;

  
}

.filtered-report{
  background: #f3f3f3;
  border-radius: 22px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  display: none;

}
.filtered-report .box{
  background-color: #f3f3f3;
  border: none;
}

.test{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#an-user-report span, table thead span{
  font-size: 10px;
}
</style>



<!--  Markup for an  employee report-->
<div class="reports-container">
<!-- Markup for employee profile -->
<div class="profile">

  <div class="avatar">

    <% if(userInfo.avatar !== null && userInfo.avatar.match(/^(http|https):/g)){ %>
        <img
        src="<%= userInfo.avatar%>"
        />
    <%} else{%>
      <img
      src="/uploads/avatars/<%=userInfo.avatar===null ? 'demo-avatar.png' : userInfo.avatar %>" />
      <% } %> 
 
  </div>
  <div class="profile-info">
    <div class="username"><%= userInfo.user_name  %></div>
    <div class="role"><%= userInfo.user_role == "user" ? "Employee" : "Admin"  %> </div>
    <div class="profile-details">
      <div class="email"><%= userInfo.user_mail %> </div>
      <div class="phone"><%= userInfo.user_phone %> </div>
      <div class="social-icon">
        <span
          ><% if(platformUser.find(connection => connection.platform ===
          'facebook')) {%>

          <%- include("../partials/icons/facebook-bold-svg") -%> 

        <% } else{ %>
            <%- include("../partials/icons/facebook-svg") -%> 
        <%}%>
        </span>
        <span
          >
          <% if(platformUser.find(connection => connection.platform ===
                  'google')) {%>
          <a class="social-active" >
            <%- include("../partials/icons/google-svg") -%> 
          </a>
          <% }else{%>
            <%- include("../partials/icons/google-svg") -%> 
             <% } %>
        </span>
        <span>
          <% if(platformUser.find(connection => connection.platform ===
                  'twitter')) {%>
          <a title="Remove" class="social-active">
            <%- include("../partials/icons/twitter-svg") -%> 
          </a>
          <% }else{%>
            <a title="Connect" >
            <%- include("../partials/icons/twitter-svg") -%> 
          </a>
             <% } %>
        </span>
      </div>
    </div>
  </div>
</div>

 <% if(checkUserReportEmptyOrNot.length !== 0){ %>
  <!-- Markup for employee work details  -->

  <div class="work-details">
    <!-- Markup for  Today Box -->
    <div class="today box">
      <h2>Today</h2>
      <div class="details">
        <table class="work">
          <tr>
            <td>Work:</td>
            <td><%= todayReportDetails.todayTotal || "00:00" %> hr <span class="<%= todayReportDetails.isLowOrHighClassForToday  %>"><%= todayReportDetails.isTotalExtraOrLessHr  %></span></td>
          </tr>
          <tr>
            <td>Time:</td>
            <td><%= todayReportDetails.start || "00:00" %> - <%=  todayReportDetails.end || "00:00" %></td>
          </tr>
          <tr>
            <td>Break:</td>
            <td><%= todayReportDetails.breakTime || "0" %> times</td>
          </tr>
          
        </table>
      </div>
    </div>
    <!-- Markup for week box -->

    <div class="week box">
      <h2>This Week</h2>
      <div class="details">
        <table>
          <tr>
            <td>Workday:</td>
            <td><%= weekReportDetails.totalWorkingDays %>/<%= weekReportDetails.fixedWorkdays %> day <span class="<%= weekReportDetails.classLowOrHighForDay %>"><%= weekReportDetails.daysIsLowOrHigh %></span></td>
          </tr>
          <tr>
            <td>Work hour:</td>
            <td><%= weekReportDetails.workingTotalHr %>/<%= weekReportDetails.fixedTotalHr   %> hr <span class="<%= weekReportDetails.classLowOrHighForHr || '' %>"><%= weekReportDetails.isTotalExtraOrLessHr %></span></td>
          </tr>
          <tr>
            <td>Avg Work:</td>
            <td> <%= weekReportDetails.avgWorkHr %> hr <span class="<%= weekReportDetails.classLowOrHighForHr %>"><%= weekReportDetails.isAvgExtraOrLessHr %></span></td>
          </tr>
          <tr>
            <td>Avg Start:</td>
            <td><%= weekReportDetails.avgStartTime %> </td>
          </tr>
          <tr>
            <td>Avg End:</td>
            <td><%= weekReportDetails.avgEndTime %> </td>
          </tr>
        </table>
      </div>
    </div>
    <!--  Markup for report week box  -->
    <div class="month box">
      <h2>This Month</h2>
      <div class="details">
        <table>
          <tr>
            <td>Workday:</td>
            <td> <%=monthReportDetails.totalWorkingDays %>/<%= monthReportDetails.fixedWorkdays %> day <span class="<%= monthReportDetails.classLowOrHighForDay %>"><%=monthReportDetails.daysIsLowOrHigh %></span></td>
          </tr>
          <tr>
            <td>Work hour:</td>
            <td><%=monthReportDetails.workingTotalHr  + '/' + monthReportDetails.fixedTotalHr %> hr<span class="<%= monthReportDetails.classLowOrHighForHr %>"><%=
              monthReportDetails.isTotalExtraOrLessHr %></span> </td>
          </tr>
          <tr>
            <td>Avg Work:</td>
            <td><%=monthReportDetails.avgWorkHr %> hr <span class="<%= monthReportDetails.classLowOrHighForHr %>" ><%=
              monthReportDetails.isAvgExtraOrLessHr %></span></td>
          </tr>
          <tr>
            <td>Avg Start:</td>
            <td><%=monthReportDetails.avgStartTime %></td>
          </tr>
          <tr>
            <td>Avg End:</td>
            <td><%=monthReportDetails.avgEndTime %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="year box">
      <h2>This Year</h2>
      <div class="details">
        <table>
          <tr>
            <td>Workday:</td>
            <td> <%=yearReportDetails.totalWorkingDays %>/<%= yearReportDetails.fixedWorkdays %> day <span class="<%= yearReportDetails.classLowOrHighForDay %>"><%=yearReportDetails.daysIsLowOrHigh %></span></td>
          </tr>
          <tr>
            <td>Work hour:</td>
            <td><%=yearReportDetails.workingTotalHr  + '/' + yearReportDetails.fixedTotalHr %> hr<span class="<%= yearReportDetails.classLowOrHighForHr %>"><%=
              yearReportDetails.isTotalExtraOrLessHr %></span> </td>
          </tr>
          <tr>
            <td>Avg Work:</td>
            <td><%=yearReportDetails.avgWorkHr %> hr <span class="<%= yearReportDetails.classLowOrHighForHr %>" ><%=
              yearReportDetails.isAvgExtraOrLessHr %></span></td>
          </tr>
          <tr>
            <td>Avg Start:</td>
            <td><%= yearReportDetails.avgStartTime %> </td>
          </tr>
          <tr>
            <td>Avg End:</td>
            <td><%= yearReportDetails.avgEndTime %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Markup for filtered  report   box -->

<div class="filtered-report">

   
 <div class="week box">
   <h2>Filtered by</h2>
   <div class="details">
     <table id="total-report">
     
     </table>
   </div>


 </div>

 <div class="filtered-date">
   <p><span class="select-start-date">11/01/2022</span> to  <span class="select-end-date">11/01/2022</span> </p>
 </div>
</div>


<!-- Markup Date range for employee-->

<div class="date-range-input">
  <div class="report-title-container">
    <h4>Reports</h4>
    <p class="report-title">Last seven days.</p>
  </div>
  <div  class="date-picker">
      <div  class="start-date">
        <input
        onblur="iconCheck()"
          id="startPicker"
          type="text"
          placeholder="-- / -- / ----"
        />
      </div>
      <div class="to">to</div>
      <div class="end-date">
        <input onblur="iconCheck()" id="endPicker" placeholder="-- / -- / ----" />
      </div>
      <div id="date-icon" onclick="dateRange()" class="date-icon">
        <svg
          width="26"
          height="30"
          viewBox="0 0 26 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.66667 1.66675V5.66675V1.66675ZM18.3333 1.66675V5.66675V1.66675ZM1.66667 11.1201H24.3333H1.66667ZM25 10.3334V21.6667C25 25.6667 23 28.3334 18.3333 28.3334H7.66667C3 28.3334 1 25.6667 1 21.6667V10.3334C1 6.33341 3 3.66675 7.66667 3.66675H18.3333C23 3.66675 25 6.33341 25 10.3334Z"
            stroke-width="2"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.05859 21.2666H8.07193M17.9266 17.2666H17.9386H17.9266ZM17.9266 21.2666H17.9386H17.9266ZM12.9933 17.2666H13.0066H12.9933ZM12.9933 21.2666H13.0066H12.9933ZM8.05859 17.2666H8.07193H8.05859Z"
            stroke-width="2.66667"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
</div>

<!-- Markup for report table  -->
<div class="an-employee-report">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Start time </th>
        <th>End time</th>
        <th>Work hour</th>
      </tr>
    </thead>

    <tbody id="an-user-report">

       
      <% lastSevenDaysReports.map(el => {%>
      <tr
        class="
          <%=
          el.dayType===
          "offday"
          ?
          "bg-red-200": el.dayType === "holiday"
         
          ? "bg-yellow-200" : el.dayType === "leave" ? "bg-red-400"  :  "bg-blue-200"
          
          
          %>
          text-black
        "
      >
        <td><%= el.date  %> <br> <%= el.day %></td>
        <td> <%= el.dayType  %> </td>
        <%= console.log(el.outTimeExtraOrLess.slice(1,5)) %>
        <%= console.log(el.inTimeExtraOrLess.split('').indexOf(':')) %>
        <td><%=  el.start %> <span class="<%= el.inTimeExtraOrLess.length - 1 === 5 ? 'low' : 'high'  %>" >[<%= el.inTimeExtraOrLess.length - 1 === 4 ? '+' + el.inTimeExtraOrLess : el.inTimeExtraOrLess   %>]</span> </td>

        <td><%=  el.end %><span class="<%= el.outTimeExtraOrLess.length - 1 === 5 ? 'high' : 'low'  %>" >[<%= el.outTimeExtraOrLess.length - 1 === 4 ? '-' + el.outTimeExtraOrLess.slice(1,5) : '+' + el.outTimeExtraOrLess   %>]</span> </td>
        
        <td><%= el.workTime + ' / ' + el.workHr + ' hr' %><span class="<%= el.totalTimeExtraOrLess.length - 1 === 5 ? 'low' : 'high'  %>" >[<%= el.totalTimeExtraOrLess.length - 1 === 4 ? '+' + el.totalTimeExtraOrLess : el.totalTimeExtraOrLess   %>]</span></td>
      
        
      </tr>
      <% }) %>

      
    </tbody>

  </table>
</div>

</div>
<div class="pagination" >
  <ul id="pagination">

  </ul>
</div>
<% } else{ %> 
<div class="no-report">
  <h2>No report found</h2>
  <% } %>
<script>
  const baseUrl = 'http://localhost:5000';

  const startDatePicker = MCDatepicker.create({
        el: "#startPicker",
        dateFormat: "DD-MM-YYYY",
      });
  const endDatePicker = MCDatepicker.create({
        el: "#endPicker",
        dateFormat: "DD-MM-YYYY",
      });
;

// Date change to date icon active remove

function iconCheck(e){
  const dateIcon = document.querySelector("#date-icon")
  const data = dateIcon.classList.contains('date-icon-active')
  if(data){
    return dateIcon.classList.remove("date-icon-active")
  }
}

// getDate format
function getDateFormat(date) {
  if(date===null){
    return null
  }
  let today = new Date(date);
  const dd = String(today.getDate()).padStart(2, '0');
  const mm = String(today.getMonth() + 1).padStart(2, '0');
  const yyyy = today.getFullYear();
  today = `${yyyy}-${mm}-${dd}`;
  return today;
}
// get current date
  function getCurrentDate() {
    let today = new Date();
    const dd = String(today.getDate()).padStart(2, '0');
    const mm = String(today.getMonth() + 1).padStart(2, '0');
    const yyyy = today.getFullYear();
    today = `${yyyy}-${mm}-${dd}`;

    return today;
  }


const dateRange = async function (event) {
  const dateIcon = document.querySelector("#date-icon")
  const dateStart = document.querySelector("#startPicker")
  const dateEnd = document.querySelector("#endPicker")
  const startDate = getDateFormat (startDatePicker.getFullDate())
  const endDate = getDateFormat (endDatePicker.getFullDate() || getCurrentDate())
  console.log(startDate,endDate)

  dateStart.dataset.date = startDate
  dateEnd.dataset.date = endDate

  if(dateStart.dataset.date=='null'){
    return alert('date not select')
  }

  const data = await fetch(
    `${baseUrl}/reports/between/two-date?startDate=${startDate}&endDate=${endDate}`,
  );
  const getObjects = await data.json(); 
  // let isZero;
  const {dateRangeReport,pageNumber,pageLength,page,numberOfPage} = getObjects.reports
  console.log({pageNumber,page,pageLength,numberOfPage})
  console.log(dateRangeReport)
  const reportTableBody = document.querySelector('#an-user-report')
  reportShow(reportTableBody,dateRangeReport)
  pagination(pageNumber,numberOfPage,page)
  dateIcon.classList.add("date-icon-active")
  // const pagination = document.querySelector('#pagination')
  // pagination.innerHTML = pageNumber.map(p =>`<a class=${ page==p ? 'page-active' : ''} ><li onclick="page(${p})">  ${p}  </li></a>`).join('')

  const dateRangeTotalBox = getObjects.dateRangeReportBox;
  const {betweenTwoDatesReportDetails} = dateRangeTotalBox;
  const totalReport = document.getElementById("total-report");
  const filteredReport = document.querySelector('.filtered-report');
  const selectStartDate = document.querySelector('.select-start-date');
  const selectEndDate = document.querySelector('.select-end-date');
  const reportTitle = document.querySelector('.report-title');



   if(dateRangeTotalBox === null){
        filteredReport.style.display = 'none !important';
   }else{
     filteredReport.style.display = 'block';
     filteredReport.style.display = 'flex';
     selectStartDate.textContent = startDate
      selectEndDate.textContent = endDate|| getCurrentDate()
      reportTitle.innerHTML = `Report between <b>${startDate}</b> and <b>${endDate}</b>`
  totalReport.innerHTML = `
          <tr>
            <td>Workday:</td>
            <td> ${betweenTwoDatesReportDetails.totalWorkingDays }/${ betweenTwoDatesReportDetails.fixedWorkdays} day <span class="${ betweenTwoDatesReportDetails.classLowOrHighForDay }">${betweenTwoDatesReportDetails.daysIsLowOrHigh }</span></td>
          </tr>
          <tr>
            <td>Work hour:</td>
            <td>${betweenTwoDatesReportDetails.workingTotalHr  + '/' + betweenTwoDatesReportDetails.fixedTotalHr } hr<span class="${ betweenTwoDatesReportDetails.classLowOrHighForHr }">${
              betweenTwoDatesReportDetails.isTotalExtraOrLessHr }</span> </td>
          </tr>
          <tr>
            <td>Avg Work:</td>
              <td>${betweenTwoDatesReportDetails.avgWorkHr} hr <span class="${ betweenTwoDatesReportDetails.classLowOrHighForHr }">${
                betweenTwoDatesReportDetails.isAvgExtraOrLessHr}</span></td>
          </tr>
          <tr>
            <td>Avg Start:</td>
            <td>${ betweenTwoDatesReportDetails.avgStartTime } </td>
          </tr>
          <tr>
            <td>Avg End:</td>
            <td>${ betweenTwoDatesReportDetails.avgEndTime }</td>
          </tr>
       
  `
      }

}

async function page(pageNo){
  const startDate = document.querySelector("#startPicker").dataset.date
  const endDate = document.querySelector("#endPicker").dataset.date
  const data = await fetch(
    `${baseUrl}/reports/between/two-date?startDate=${startDate}&endDate=${endDate}&page=${pageNo}`,
  );
  const getObjects = await data.json(); 
  // let isZero;
  const {dateRangeReport,pageNumber,pageLength,page,numberOfPage} = getObjects.reports
  const reportTableBody = document.querySelector('#an-user-report')
  reportShow(reportTableBody,dateRangeReport)
  pagination(pageNumber,numberOfPage,pageNo)
}

function reportShow(reportTableBody,dateRangeReport){
 return reportTableBody.innerHTML = dateRangeReport.map(el=>
   ` 
         
   <tr
        class="
          <${
          el.dayType===
          "offday"
          ?
          "bg-red-200": el.dayType === "holiday"
         
          ? "bg-yellow-200" : el.dayType === "leave" ? "bg-red-400"  :  "bg-blue-200"
          
          
          }
          text-black
        "
      >
        <td>${ el.date  } <br> ${ el.day }</td>
        <td> ${ el.dayType  } </td>
       
        <td>${  el.start } <span class="${ el.inTimeExtraOrLess.length - 1 === 5 ? 'low' : 'high'  }" >[${ el.inTimeExtraOrLess.length - 1 === 4 ? '+' + el.inTimeExtraOrLess : el.inTimeExtraOrLess   }]</span> </td>

        <td>${  el.end }<span class="${ el.outTimeExtraOrLess.length - 1 === 5 ? 'high' : 'low'  }" >[${ el.outTimeExtraOrLess.length - 1 === 4 ? '-' + el.outTimeExtraOrLess.slice(1,5) : '+' + el.outTimeExtraOrLess   }]</span> </td>
        
        <td>${ el.workTime + ' / ' + el.workHr + ' hr' }<span class="${ el.totalTimeExtraOrLess.length - 1 === 5 ? 'low' : 'high'  }" >[${ el.totalTimeExtraOrLess.length - 1 === 4 ? '+' + el.totalTimeExtraOrLess : el.totalTimeExtraOrLess   }]</span></td>
      
        
      </tr> 
   

   `
  ).join('')

}
function pagination(pageNumber,numberOfPage,page){
  const pagination = document.querySelector('#pagination')
 return pagination.innerHTML = `<li class="first"  onclick="page(${1})"> </li> 
 <li class="prev" ${Number(page===1) ? "onclick='this.disabled=true'" : `onclick=page(${Number(page-1)})`}></li> 
 ${pageNumber.map(p =>
 `<a class=${ page==p ? 'page-active' : ''} ><li onclick="page(${p})">  ${p}  </li></a>`).join('')}
 <li class="next" ${Number(page===numberOfPage) ? "onclick='this.disabled=true'" : `onclick=page(${Number(page+1)})`}></li> 
 <li class="last" onclick="page(${numberOfPage})"></li> 
 `

} 

</script>

<%- include("../partials/footer"); -%>