<%- include("../partials/header"); -%>


<!-- Markup top  card for employee activits -->

<div

    class="
    flex justify-between mb-5
      px-4
      py-6
      rounded-md
      bg-blue-100
      border-l-4 border-blue-400
      shadow-lg
    "
  >
  <% console.log(userInfo) %> 
  <% let profileUrl = userInfo.avatar %>
  <% if(profileUrl.search('https://') === -1) {%>
    <img
      class="
        rounded-full
        h-12
        w-12
        object-cover
        ring ring-blue-500 ring-offset-2 ring-offset-white
      "
      src="/uploads/avatars/<%= userInfo.avatar%>"
    />

    <% } else{ %>
    <img
      class="
        rounded-full
        h-12
        w-12
        object-cover
        ring ring-green-400 ring-offset-
        2
        ring-offset-white
      "
      src="<%= userInfo.avatar%>"
    />
    <% } %>
   
  <div>
    <h4><b> Name: <%= userInfo.user_name  %> </b></h4>
  </div>
  </div>
<div  class="" >
  <div class="flex justify-between gap-4">
    <div
      class="
        px-4
        py-6
        rounded-md
        bg-pink-200
        border-l-4 border-blue-400
        shadow-lg
      "
    >
      <h3>Avarage Work Start Time</h3>
      <h4><b><%= avgStartTime || '00:00' %> </b></h4>
    </div>
    <div
      class="
        px-4
        py-6
        rounded-md
        bg-yellow-200
        border-l-4 border-green-400
        shadow-lg
      "
    >
      <h3>Avarage Work End Time</h3>
      <h4><b><%= avgEndTime || '00:00' %> </b></h4>
    </div>
    <div
      class="
        px-4
        py-6
        rounded-md
        bg-green-200
        border-l-4 border-yellow-400
        shadow-lg
      "
    >
      <h3>This Week Total Work Hours</h3>
      <h4><b><%= weekHr %> </b></h4>
    </div>
    <div
      class="
        px-4
        py-6
        rounded-md
        bg-yellow-400
        border-l-4 border-pink-400
        shadow-lg
      "
    >
      <h3>This Month Total Work Hours</h3>
      <h4><b><%= monthHr %> </b></h4>
    </div>
    
  </div>
</div>



  
 
<!-- Markup Date range for employee-->

<div  class="mt-5 flex justify-between">
  <div>
    <h4 class="text-xl font-bold">Reports</h4>
  </div>
  <div>
    <input
      type="date"
      class="p-2 bg-blue-200 rounded-md cursor-pointer shadow-md"
      onchange="selectStartDateForAdmin(event)"
    />
    <small class="p-2 text-md font-bold">To</small>
    <input
      type="date"
      class="p-2 bg-blue-200 rounded-md cursor-pointer shadow-md"
      onchange="selectEndDateForAdmin(event)"
    />
  </div>
</div> 




<!-- Markup report table for employee -->
<div  class="bg-white flex justify-center mt-4">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <table
        class="table-report text-gray-400 border-separate space-y-6 text-sm"
      >
        <thead class="bg-blue-500 text-white">
          <tr>
            <th class="p-3">Day</th>
            <th class="p-3">DATE</th>
            <th class="p-3 text-left">IN</th>
            <th class="p-3 text-left">OUT</th>
            <th class="p-3 text-left">Type</th>

            <th class="p-3 text-left">Fixed Time</th>
            <th class="p-3 text-left">Working Time</th>
            <th class="p-3 text-left">Less / Extra</th>
          </tr>
        </thead>
        <tbody id="an-user-report">
        
          
          <% userReport.map(el => {%>
            <%# console.log('holiday',el.date_for_holiday) %> 
            <%#console.log('day',el.day) %> 
          <tr
            class="
              <%=
              el.day===
              "Friday"
              ?
              "bg-red-200": el.type === "holiday"
             
              ? "bg-yellow-200" : el.type === "leave" ? "bg-red-400"  :  "bg-blue-200"
              
              
              %>
              text-black
            "
          >
          <td class="p-3"><%= el.day %></td>
            <td class="p-3 font-medium capitalize"><%= el.date  %></td>
            <td class="p-3">
              <%= el.start  %>
            </td>
          
            <td class="p-3"><%=  el.end %></td>
            <td class="p-3 font-medium"><%= el.day === 'Friday' ? 'Off day' : el.type %></td>

            <td class="p-3"><%= el.day === 'Friday' ? '0' : el.fixed_time  %></td>
            <td class="p-3"><%= el.working_time %></td>
            <td class="p-3">
              <%= el.day === 'Friday' ? el.working_time : el.time_count %>
            </td>
            
          </tr>
          <% }) %>
        </tbody>

        <tfoot id="date-range-total" >
          <% employeeLastSevendaysReportTotal.map(el => {%> 

          <tr class="bg-blue-500 text-center text-white font-bold">
            <td colspan="2">Total = <%= 'Present' + ' ' + el.present + '/' + '7'%>  </td>
          <td class="p-3"><%= el.avgStartTime  || '00' %> </td>
          <td class="p-3"><%= el.avgEndTime  || '00'%> </td>
          <td class="p-3"></td>
          <td class="p-3"><%= el.fixed_total + 'hr' %></td>
          <td class="p-3"><%= el.weekTotal || '00' %> </td>
          <td class="p-3"><%# el.totalLessORExtra %> </td>
          </tr>
        <% })  %> 
        </tfoot>
      </table>
    </div>
  </div>
</div>


<script>
// getDate format
function getDateFormat(date) {
  let today = new Date(date);
  const dd = String(today.getDate()).padStart(2, '0');
  const mm = String(today.getMonth() + 1).padStart(2, '0');
  const yyyy = today.getFullYear();
  today = `${yyyy}-${mm}-${dd}`;

  return today;
}

const selectStartDateForAdmin = async (event) => {
  const getDate = getDateFormat(event.target.value);

  startDate = getDate;

  // get current date
  function getCurrentDate() {
    let today = new Date();
    const dd = String(today.getDate()).padStart(2, '0');
    const mm = String(today.getMonth() + 1).padStart(2, '0');
    const yyyy = today.getFullYear();
    today = `${yyyy}-${mm}-${dd}`;

    return today;
  }

  const data = await fetch(
    `${baseUrl}/report/between/two-date/:id?startDate=${startDate}&endDate=${getCurrentDate()}`,
  );
  const getObjects = await data.json();
  const getReports = getObjects.reports.dataToJson
  // between to data total
  const dateRangeTotalTr = document.getElementById('date-range-total')

  const getReportsTotal = getObjects.reportDateRangeTotal.betweenTowDateTotalToJson
  console.log({ getReportsTotal });

  dateRangeTotalTr.innerHTML = getReportsTotal.map((el) => `
    
    <tr class="bg-blue-500 text-center text-white font-bold">
    <td colspan="2">Total =  ${el.present} </td>
  <td class="p-3">${el.avgStartTime || '00'} </td>
  <td class="p-3">${el.avgEndTime || '00'} </td>
  <td class="p-3"></td>
  <td class="p-3"> ${el.fixed_total}hr</td>
  <td class="p-3"> ${el.weekTotal || '00'} </td>
  <td class="p-3"> </td>
  </tr>
    `)

  // reportData.push(getReports)
  // // console.log('start', jsonData)
  // show(getReports)
}

// end date

const selectEndDateForAdmin = async (event) => {
  const endDate = event.target.value;

  console.log('end date', endDate);
  const data = await fetch(
    `${baseUrl}/report/between/two-date?startDate=${startDate}&endDate=${endDate}`,
  );
  const getObjects = await data.json();
  const getReports = getObjects.reports.dataToJson

  const dateRangeTotalTr = document.getElementById('date-range-total')

  const getReportsTotal = getObjects.reportDateRangeTotal.betweenTowDateTotalToJson
  console.log({ getReportsTotal });

  dateRangeTotalTr.innerHTML = getReportsTotal.map((el) => `
    
    <tr class="bg-blue-500 text-center text-white font-bold">
    <td colspan="2">Total =  ${el.present} </td>
  <td class="p-3">${el.avgStartTime || '00'} </td>
  <td class="p-3">${el.avgEndTime || '00'} </td>
  <td class="p-3"></td>
  <td class="p-3"> ${el.fixed_total}hr</td>
  <td class="p-3"> ${el.weekTotal || '00'} </td>
  <td class="p-3"> </td>
  </tr>
    `)
  // endData.push(getReports)
  // show(getReports)
};

</script>
<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/datepicker.bundle.js"></script>
<script src="<%=baseUrl%>/js/report.js"></script>
<%- include("../partials/footer"); -%>
