<%- include("../partials/header"); -%>
<div id="profile">
  <div class="container">
    <form id="form" action="/update-user" method="post">
      <div class="profile-avatar-img">
        
        <% if(userAvatar !== null && userAvatar.match(/^(http|https):/g)){ %>
          <img
          id="img"
          src="<%=userAvatar%>"
          />
          <%} else{%>
            <img
            id="img"
            src="/uploads/avatars/<%=userAvatar != null ? userAvatar : 'demo-avatar.png' %>" />
            <% } %>   
      </div>
      
    <input type="hidden" id="id" name="id" value="<%=id%>">
      <div class="demo-input">
        <%= user_name %>
      </div>
      <label for="name"
        >Email
        <div class="">
          <input value="<%= user_mail %>" id="email" name="email" type="email" />
          <p class="error email-error"></p>
        </div>
      </label>
      <div class="demo-input">
        <%= user_phone %>
      </div>
      <div class="">
        <div class="demo-input" style="color: <%= status==1 ? 'green': 'red'%> ">
          <%= status == 1 ? 'Active' : 'Inactive' %>
        </div>
      </div>

      
        <p class="error common-error"></p>
      <div class="">
        <button id="user-cancel-btn" type="reset" class="cancel-btn" >cancel</button>  
      </div>
      <div class="">
        <button disabled id="user-save-btn" class="submit-btn" type="submit">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector('form')
  console.log(form)
  const userCancelBtn = document.getElementById("user-cancel-btn");
  const userSaveBtn = document.getElementById("user-save-btn");
  form.addEventListener("keyup", () => {
    userSaveBtn.disabled = false
    userCancelBtn.style.display = "inline";
  });
</script>
<%- include("../partials/footer"); -%>