<%- include("../partials/header"); -%>

<style>
  .hidden-menu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    transition: max-height 0.4s;
    position: relative;
  }
  .hidden-menu ul li a {
    text-decoration: none !important;
    color: #000 !important;
  }

  /* .hidden-menu-show {
    max-height: 130px;
  } */
  .hidden-menu-show {
    max-height: 130px;
    position: absolute;
    width: 130px;
    height: 130px;
    padding: 6px;
    border-radius: 15px;
    background: #ffffff;
    z-index: 99;
    margin-left: -70px;

    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.13),
      0px 6.96494px 6.11893px rgba(0, 0, 0, 0.0847066),
      0px 2.51788px 1.42419px rgba(0, 0, 0, 0.065),
      0px 0.750053px 0.0354451px rgba(0, 0, 0, 0.0452935);
  }

  /* content: " ";
    position: absolute;
    right: 20px;
    top: -15px;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent; */
  .hidden-menu-show li {
    position: relative;
    height: 20px;
    margin: 0 5px;
    list-style: none;
    line-height: 20px;
  }

  .hidden-menu-show li a svg {
    /* width: 32px;
  height: 32px; */
    margin: 0 20px;
  }
  .hidden-menu-show li a {
    color: var(--deep2);
    stroke: var(--deep2);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0px 15px 0px;
    padding: 5px 0;
  }
  .hidden-menu-show li a:hover {
    background-color: #f6f6f6;
    border-radius: 9px;
  }
  /* #users table tr td:last-child {
    width: 80px;
  } */
</style>

<div id="users">
  <div class="text-head">
    <div class="text-title">Users</div>
    <div class="add-button">
      <button class="add-btn">
        <span class="add-icon">
          <%- include("../partials/icons/add-svg"); -%>
        </span>
        <span .add-btn-text>Add User</span>
      </button>
    </div>
  </div>

  <!-- Add user Modal -->
  <%- include("../partials/add-user-modal"); -%>

  <table class="table">
    <thead>
      <tr>
        <td class="table-img td-width-zero"></td>
        <td>Name</td>
        <td class="user-phone">Phone</td>
        <td class="user-email">Email</td>
        <td class="user-status">Status</td>
        <td class="table-action td-width-zero"></td>
      </tr>
    </thead>
    <tbody>
      <% users.map(user=>{%>
      <tr>
        <td class="table-img td-width-zero">
          <% if(user.avatar !== null && user.avatar.match(/^(http|https):/g)){
          %>
          <img src="<%= user.avatar%>" />
          <%} else{%>
          <img
            src="/uploads/avatars/<%=user.avatar != null ?  user.avatar : 'demo-avatar.png' %>"
          />
          <% } %>
        </td>
        <td>
          <div class="username"><%=user.user_name%></div>
          <span id="role"><%= user.user_role==='admin'? 'admin' : ''%> </span>
        </td>
        <td class="user-phone"><%=user.user_phone %></td>
        <td class="user-email"><%=user.user_mail %></td>
        <td class="user-status"><span class="status active">Active</span></td>
        <td class="user-more td-width-zero" onclick="openMenu(this)">
          <svg
            class="user-action-btn"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="40" height="40" rx="15" />
            <circle cx="10" cy="20" r="2" fill="#4A4A4A" />
            <circle cx="20" cy="20" r="2" fill="#4A4A4A" />
            <circle cx="30" cy="20" r="2" fill="#4A4A4A" />
          </svg>
          <div class="hidden-menu">
            <ul>
              <li>
                <a href="/reports/<%= user.id %>">
                  <%# include("./icons/profile-svg.ejs"); -%>
                  <span>Report</span>
                </a>
              </li>
              <li>
                <a href="/profile/<%= user.id %>">
                  <%# include("./icons/profile-svg.ejs"); -%>
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a href="/update-user/<%= user.id %>">
                  <%# include("./icons/logout-svg.ejs"); -%>
                  <span>Update</span>
                </a>
              </li>
              <li>
                <a
                  onclick="return confirm('Are you Sure?')"
                  href="/delete/user/<%= user.id %>"
                >
                  <%# include("./icons/logout-svg.ejs"); -%>
                  <span>Delete</span>
                </a>
              </li>
            </ul>
          </div>

          <%# include("../partials/menu-option.ejs"); -%>
        </td>
      </tr>

      <%}) %>
    </tbody>
  </table>
</div>
<!-- Pagination -->
<%- include("../partials/pagination"); -%>

<script>
  function openMenu(menu) {
    //alert("ok");
    const currentMenu = menu.childNodes[3];
    console.log(currentMenu);
    const showMenu = document.querySelector(".hidden-menu-show");

    if (!currentMenu.classList.contains("hidden-menu-show") && showMenu) {
      showMenu.classList.remove("hidden-menu-show");
    }
    currentMenu.classList.toggle("hidden-menu-show");
  }
  const userAction = document.getElementsByClassName("hidden-menu");
</script>

<script>
  // Paginations Functions

  function first(e) {
    const firstPage = Number(e);
    return (location.href = `/users?page=${firstPage}`);
  }

  function prev(e) {
    const prevPage = Number(e - 1);
    return (location.href = `/users?page=${prevPage}`);
  }
  function next(e) {
    const nextPage = Number(parseInt(e) + 1);
    console.log(nextPage);
    return (location.href = `/users?page=${nextPage}`);
  }
  function last(e) {
    const lastPage = e;
    return (location.href = `/users?page=${lastPage}`);
  }
</script>
<script src="/js/allUsers.js"></script>

<%- include("../partials/footer"); -%>
